@charset "utf-8";
/* CSS Document */

/* 렌트카 CSS  */
html {font-size:10px}
@media all and (min-width:375px) { /* 아이폰6 */
html {font-size:11px}
}
@media all and (min-width:414px) { /* 아이폰6 plus */
html {font-size:12px}
}

.directWeddCont {text-align:center}
.directWeddCont * {font-size:1.3rem;color:#444}
.dwTopCont {padding:22px 12px 42px;background:url(http://image1.hanatour.com/mobile/common/direct_wedding/bg_topcont.jpg) no-repeat 0 0 / 100% 100%}
.dwTopCont h2 {padding-bottom:12px}
.dwTopCont h2 img {height:175px}

.dw_tabSect {}
.dw_tabSect .tabList {overflow:hidden;border-top:1px solid #fea69f;border-bottom:1px solid #fea69f}
.dw_tabSect .tabList li {float:left;width:33.3%;box-sizing:border-box}
.dw_tabSect .tabList li:nth-child(2) {width:33.4%;border-left:1px solid #fea69f;border-right:1px solid #fea69f}
.dw_tabSect .tabList li a {display:block; color:#ff8177; padding:16px 0}
.dw_tabSect .tabList li.on a { color:#fff; background-color:#f96c61}

.dw_tabSect .stit01 {margin-bottom:7px}
.dw_tabSect .stit01 img {height:64px}
.dw_tabSect .stxt01 {color:#666}
.dw_tabSect .stxt02 {color:#fff}

.dw_tabSect .tab01_cont01 {background-color:#fff9f8; padding:15px 12px 0}
.dw_tabSect .tab01_cont02 {background:url(http://image1.hanatour.com/mobile/common/direct_wedding/bg_tab01_cont02.png) no-repeat 0 0 / 100% 100%;padding:15px 12px 0}
.dw_tabSect .applyList01 {padding:25px 12px 30px;}
.dw_tabSect .applyList01 li {display:table;width:100%;font-size:1.1rem;background:url(http://image1.hanatour.com/mobile/common/direct_wedding/bg_applylist01_01.png) no-repeat 0 0 / 92px 92px; height:92px; text-align:left; padding-left:115px; margin-bottom:15px;box-sizing:border-box; position:relative}
.dw_tabSect .applyList01 li+li {background-image:url(http://image1.hanatour.com/mobile/common/direct_wedding/bg_applylist01_02.png)}
.dw_tabSect .applyList01 li+li+li {background-image:url(http://image1.hanatour.com/mobile/common/direct_wedding/bg_applylist01_03.png)}
.dw_tabSect .applyList01 li:first-child:after {content:'';width:39px; height:33px;background:url(http://image1.hanatour.com/mobile/common/direct_wedding/bg_applylist01_after01.png) no-repeat 0 0 / 39px 33px; position:absolute; left:38px; bottom:-26px;z-index:1}
.dw_tabSect .applyList01 li:nth-child(2):after {content:'';width:39px; height:31px;background:url(http://image1.hanatour.com/mobile/common/direct_wedding/bg_applylist01_after02.png) no-repeat 0 0 / 39px 31px; position:absolute; left:22px;bottom:-26px;z-index:1}
.dw_tabSect .applyList01 li div {display:table-cell;width:100%; vertical-align:middle}
.dw_tabSect .applyList01 li div strong {display:block; font-size:1.4rem; color:#ff8177; margin-bottom:4px}
.dw_tabSect .applyList02 {padding:25px 12px 30px;}
.dw_tabSect .applyList02 li {display:table;width:100%;font-size:1.1rem;background:url(http://image1.hanatour.com/mobile/common/direct_wedding/bg_applylist02_01.png) no-repeat right 0 / 92px 92px; height:92px; text-align:left; padding-right:115px; margin-bottom:15px;box-sizing:border-box}
.dw_tabSect .applyList02 li+li {background-image:url(http://image1.hanatour.com/mobile/common/direct_wedding/bg_applylist02_02.png)}
.dw_tabSect .applyList02 li+li+li {background-image:url(http://image1.hanatour.com/mobile/common/direct_wedding/bg_applylist02_03.png)}
.dw_tabSect .applyList02 li div {display:table-cell;width:100%; vertical-align:middle;color:#fff}
.dw_tabSect .applyList02 li div strong {display:block; font-size:1.4rem; color:#6e21ad; margin-bottom:4px}

.dw_tabSect .tab02_cont {background:url(http://image1.hanatour.com/mobile/common/direct_wedding/bg_tab02_cont.gif) repeat 0 0 / 8px 8px;padding:15px 12px 0}
.dw_tabSect .checkList {padding-bottom:25px}
.dw_tabSect .checkList li {font-size:1.1rem; color:#fff; margin-bottom:4px}
.dw_tabSect .checkList li:before {content:'';display:inline-block;width:10px; margin-right:5px; height:10px;background:url(http://image1.hanatour.com/mobile/common/direct_wedding/bul_checklist.png) repeat 0 0 / 10px 10px; position:relative; bottom:-1px}

.dw_tabSect .prodList {overflow:hidden; padding-bottom:20px}
.dw_tabSect .prodList > li {float:left;width:50%;box-sizing:border-box; margin-bottom:10px}
.dw_tabSect .prodList > li:nth-child(2n+1) {padding-right:4px}
.dw_tabSect .prodList > li:nth-child(2n+2) {padding-left:4px}
.dw_tabSect .prodList > li a {display:block; border:1px solid #ccc; border-radius:3px; background-color:#fff; overflow:hidden}
.dw_tabSect .prodList li a .imgBox {position:relative; display:block;}
.dw_tabSect .prodList li a .imgBox img {width:100%}
.dw_tabSect .prodList li a .imgBox em {position:absolute;left:0;top:0; color:#fff; font-size:12px;padding:8px 15px; z-index:2}
.dw_tabSect .prodList li.on a .imgBox:after {content:'';width:100%; height:100%; background:rgba(0,0,0,0.7); z-index:1; position:absolute;left:0;top:0}
.dw_tabSect .prodList li a .imgBox em.red {background-color:#c83d67;}
.dw_tabSect .prodList li a .imgBox em.blue {background-color:#45bdc5}
.dw_tabSect .prodList li a .btmBox01 {padding:18px 12px 15px;}
.dw_tabSect .prodList li a .btmBox01 .money01 {display:block;font-size:1.5rem;color:#c83d67;margin-bottom:15px}
.dw_tabSect .prodList li a .btmBox01 .money01 b {font-size:2.2rem;color:#c83d67}
.dw_tabSect .prodList li a .btmBox01 .inTxtList li {text-align:left;font-size:12px;color:#666}
.dw_tabSect .prodList li a .btmBox01 .inTxtList li strong {display:inline-block;color:#333;font-size:12px;width:52px;font-weight:normal}
.dw_tabSect .prodList li a .btmBox02 .money02 {display:block;font-size:1.2rem;color:#c83d67;margin-bottom:15px}
.dw_tabSect .prodList li a .btmBox02 .money02 b {font-size:1.6rem;color:#c83d67}
.dw_tabSect .prodList li a .btmBox02 {padding:12px;text-align:left}
.dw_tabSect .prodList li a .btmBox02 .titProduct {overflow:hidden; text-overflow:ellipsis; display:-webkit-box; -webkit-line-clamp:3; -webkit-box-orient:vertical; height:45px; font-size:13px; line-height:14px; margin-bottom:5px}
.dw_tabSect .prodList li a .btmBox02 p {background:url(http://image1.hanatour.com/mobile/common/direct_wedding/bg_product_dotted.png) repeat-x 0 0 / 5px 1px; position:relative; padding:7px 0 7px 30px; font-size:1.1rem; color:#666}
.dw_tabSect .prodList li a .btmBox02 p strong {position:absolute;left:0;top:50%; margin-top:-13px}
.dw_tabSect .prodList li a .btmBox02 p strong img {width:26px}
.dw_tabSect .prodList > li.on a {border-color:#ea3a6e}
.dw_tabSect .prodList.blueTy > li.on a {border-color:#07949d}


.estimateCont {padding:0 12px 15px; border-top:1px solid #6d7588; position:fixed;left:0;bottom:0;width:100%;background-color:#fff; z-index:10; box-sizing:border-box}
.estimateCont .selectBox {display:table;width:100%;}
.estimateCont .selectBox+.selectBox {border-top:1px solid #e0e0e0}
.estimateCont .selectBox strong {display:table-cell;width:50%; text-align:left; font-size:1.4rem; padding:16px 0}
.estimateCont .selectBox div {display:table-cell;width:50%; text-align:right; }
.estimateCont .selectBox div a {font-weight:bold; color:#fff; background-color:#ff6796; padding:8px 0; width:80%; display:inline-block; text-align:center; border-radius:3px; margin:-6px 0; font-size:14px}
.estimateCont .selectBox div b {font-size:14px; display:inline-block}
.estimateCont .selectBox div b span {font-size:1.0rem; display:inline-block; background-color:#e85581; color:#fff; margin-right:4px; padding:4px 10px 5px; font-weight:normal;border-radius:3px; position:relative; top:-1px}
.estimateCont .selectBox.blue div b span {background-color:#45bdc5}
.estimateCont .totalBox {display:table; width:100%; margin-top:10px}
.estimateCont .totalBox div {display:table-cell;width:49%;border:1px solid #e0e0e0;background-color:#f7f7f7; border-radius:3px;padding:6px 10px;}
.estimateCont .totalBox div strong {text-align:left;font-size:14px;display:block}
.estimateCont .totalBox div b {display:block;text-align:right;font-size:1.6rem; color:#c83d67}
.estimateCont .totalBox div b span {color:#666;font-size:1.1rem;font-weight:normal; display:inline-block; margin-left:4px}
.estimateCont .totalBox .binCell {display:table-cell; width:2%;}
.estimateCont .totalBox .applyBtn {display:table-cell;width:49%;font-size:18px; color:#fff;background-color:#6d7588; font-weight:bold; vertical-align:middle}

/* 팝업 */
.pop_dwCont .dwContTop { padding:15px 12px 20px}
.pop_dwCont dl dt {background-color:#f7f7f7; font-size:1.5rem; border-top:1px solid #ccc; padding:12px}
.pop_dwCont dl dd {padding:15px 12px 20px}
.pop_dwCont input[type='text'],.pop_dwCont input[type='tel'] {border:1px solid #ccc;height:40px;width:100%; box-sizing:border-box;text-indent:8px; color:#666; font-size:15px}
.pop_dwCont input.name {margin-bottom:10px}
.pop_dwCont select {color:#666; height:40px;background:url(../images/main/bg_select_red.png) no-repeat 95% center;background-size:13px 7px;text-indent:8px;padding:0;width:100%;border:1px solid #ccc; font-size:15px}
.pop_dwCont .textArea {border:1px solid #ccc;padding:15px; background-color:#fff}
.pop_dwCont .textArea textarea {border:none; width:100%; height:110px; color:#333; outline:none}
.pop_dwCont .tbCell {display:table;width:100%}
.pop_dwCont .tbCell span {display:table-cell;}
.pop_dwCont .tbCell span.space {width:2%}
.pop_dwCont .tbCell span.space02 {width:5%; text-align:left; padding:0 4px 0 3px;font-size:13px;font-weight:bold}
.pop_dwCont .tbCell span.space03 {width:8%; text-align:left; padding:0 4px 0 2px;font-size:13px;font-weight:bold}
.pop_dwCont .tbCell span.w25 {width:25%}
.pop_dwCont .tbCell span.w30 {width:30%}
.pop_dwCont .tbCell span.w35 {width:34%}
.pop_dwCont .interestList li {font-size:1.3rem; padding:25px 0}
.pop_dwCont .interestList li:first-child {padding-top:10px}
.pop_dwCont .interestList li+li {background:url(http://image1.hanatour.com/mobile/common/direct_wedding/bg_product_dotted.png) repeat-x 0 0 / 5px 1px;}
.pop_dwCont .interestList li strong {display:inline-block;width:100px;font-size:1.3rem}
.pop_dwCont .termsTxt {padding:12px; height:70px; overflow-y:scroll;-webkit-overflow-scrolling: touch; background-color:#f7f7f7; border:1px solid #eee; }
.pop_dwCont .termsTxt strong {font-size:1.3rem;}
.pop_dwCont .termsTxt p {font-size:1.2rem; margin-bottom:10px}
.pop_dwCont .radioBox {margin-top:20px; text-align:center}
.pop_dwCont .radioBox label {display:inline-block; margin:0 5px}
.pop_dwCont .radioBox label input[type='radio'] {background:#f7f7f7;width:24px;height:24px;margin-right:5px; border:1px solid #ccc; border-radius:50%; position:relative; margin-top:-3px}
.pop_dwCont .radioBox label input[type='radio']+span {font-size:14px;color:#666; vertical-align:middle;  display:inline-block; margin-right:12px; font-size:1.3rem}
.pop_dwCont .radioBox label input[type='radio']:checked:after {content:'';background:#c83d67;width:12px;height:12px;margin-right:5px;border-radius:50%; position:absolute;left:50%; top:50%; margin:-6px 0 0 -6px}
.pop_dwCont .radioBox label input[type='radio']:checked+span {color:#333;font-weight:bold;}

.newFoot {padding-bottom:190px !important}

/* start 20161020 추가 */
.pop_dwCont .checkBox {display:block; margin-top:8px}
.pop_dwCont .checkBox span {margin-left:6px}
/* end 20161020 추가 */