@charset "utf-8";

.mission_scroll {overflow-y:scroll;background:url(http://image1.hanatour.com/micro/promotion/package_people/bg_mission_city_top.jpg) no-repeat 0 0 / 100% 492px; padding-top:492px; height:; box-sizing:border-box; position:relative;-webkit-overflow-scrolling: touch}
.mission_scroll:before {content:''; position:fixed;left:0;top:490px;width:100%;background:url(http://image1.hanatour.com/micro/promotion/package_people/ico_induce.png) no-repeat center 0 / 30px 15px; z-index:0; height:15px}
.mission_scroll:after {content:''; position:fixed;left:0;top:120px;width:100%;background:url(http://image1.hanatour.com/micro/promotion/package_people/tit_mission_city_top.png) no-repeat center 0 / auto 84px; z-index:0; height:84px}
.mission_scroll > * {background-color:#fff; z-index:1; position:relative}
.package_peopleSect.headTopPad {padding-top:42px}
.package_peopleSect .navDep {position:relative; height:59px; border-bottom:1px solid #e0e0e0; background-color:#fff;z-index:100}
.package_peopleSect .navDep.fixed {position:fixed;left:0;top:53px;width:100%}
.package_peopleSect .navDep.fixed+* {padding-top:43px}
.package_peopleSect .navDep .swiper-container {background-color:#fff;z-index:1}
.package_peopleSect .navDep .swiper-slide {float:left; width:25%;background-color:#fff;z-index:1; display:table}
.package_peopleSect .navDep .swiper-slide a {display:table-cell;width:100%;padding:14px 0 12px;line-height:15px;position:relative;text-align:center;height:59px; box-sizing:border-box; font-size:1.3rem; background-color:#fff; vertical-align:middle}
.package_peopleSect .navDep .swiper-slide.on a {color:#7a16d4; font-weight:bold}
.package_peopleSect .navDep .swiper-slide.on a:after {content:'';width:100%;height:2px; position:absolute;left:0;bottom:-1px;background-color:#7a16d4;z-index:99}

.package_peopleSect .mainTopSect {position:relative;}
.package_peopleSect .mainTopSect:after {content:''; position:absolute;left:0;bottom:45px;width:100%;background:url(http://image1.hanatour.com/micro/promotion/package_people/ico_induce.png) no-repeat center 0 / 30px 15px; z-index:1; height:15px}
.package_peopleSect .mainTopSect .mainTop_img {background:no-repeat 0 0 / cover; height:493px; position:relative;/*animation: splash 12s linear 0s infinite normal; -webkit-animation: splash 12s linear 0s infinite normal;*/}
.package_peopleSect .mainTopSect .mainTop_img.bg01 {background-image:url(http://image1.hanatour.com/micro/promotion/package_people/img_maintop01.jpg)}
.package_peopleSect .mainTopSect .mainTop_img.bg02 {background-image:url(http://image1.hanatour.com/micro/promotion/package_people/img_maintop02.jpg)}
.package_peopleSect .mainTopSect .mainTop_img.bg03 {background-image:url(http://image1.hanatour.com/micro/promotion/package_people/img_maintop03.jpg)}
.package_peopleSect .mainTopSect .mainTop_img.bg04 {background-image:url(http://image1.hanatour.com/micro/promotion/package_people/img_maintop04.jpg)}
.package_peopleSect .mainTopSect .mainTop_cont {position:absolute;left:0;top:0; width:100%;height:493px;z-index:1;  padding:136px 10px 174px; box-sizing:border-box; text-align:center}
.package_peopleSect .mainTopSect .mainTop_cont h2 {}
.package_peopleSect .mainTopSect .mainTop_cont h2 img {height:152px}
.package_peopleSect .mainTopSect .mainTop_cont p {color:#fff; font-size:1.1rem; margin-top:8px; line-height:1.6rem}

.packpeople_Cont01 {}
.packpeople_Cont01 h3 {padding:40px 0 20px; text-align:right; margin-bottom:78px}
.packpeople_Cont01 h3 img {height:64px}
.packpeople_Cont01 ul {background:#e9eefd url(http://image1.hanatour.com/micro/promotion/package_people/bg_packpeople_cont01.png) no-repeat left bottom / 319px 185px; padding:0 10px 128px}
.packpeople_Cont01 ul li {padding:10px 0;top:-78px; position:relative}
.packpeople_Cont01 ul li+li {margin-top:40px}
.packpeople_Cont01 ul li img {width:100%}
.packpeople_Cont01 ul li p {font-size:1.4rem; margin-top:20px}
.packpeople_Cont01 ul li p strong {color:#3d74ff}

.packpeople_Cont02 {}
.packpeople_Cont02 h3 {padding:40px 0 20px; text-align:left}
.packpeople_Cont02 h3 img {height:94px}
.packpeople_Cont02 .swiper-container {background:#e9eefd url(http://image1.hanatour.com/micro/promotion/package_people/bg_packpeople_cont02_swipe.jpg) no-repeat left bottom / cover}

.packpeople_Cont03 {padding-top:145px;background:url(http://image1.hanatour.com/micro/promotion/package_people/bg_packpeople_cont03.png) no-repeat center top / 14px 49px; text-align:center}
.packpeople_Cont03 > div {background-color:#e8e8e8; padding:0 10px 53px}
.packpeople_Cont03 .imgBox {display:block; position:relative;top:-73px; margin:0 18px -20px; box-shadow:#999 5px 22px 50px}
.packpeople_Cont03 .imgBox img {width:100%}
.packpeople_Cont03 p {font-size:1.4rem; margin-bottom:22px; line-height:1.5rem}
.packpeople_Cont03 p.boxTxt {border:2px solid #333; padding:10px 0}
.packpeople_Cont03 .btn_txtToggle {border-top:1px solid #333; width:100%}
.packpeople_Cont03 .btn_txtToggle span {font-size:1.4rem; color:#fff; display:inline-block; width:90px;background-color:#333; padding:7px 10px}
.packpeople_Cont03 .btn_txtToggle span:after {content:''; display:inline-block; width:10px; height:6px;background:url(http://image1.hanatour.com/micro/promotion/package_people/ico_btn_txt_toggle.png) no-repeat 0 0 / 10px 6px; margin-left:6px; position:relative;top:-3px}
.packpeople_Cont03 .btn_txtToggle.on span:after {transform:rotate(-180deg);-webkit-transform:rotate(-180deg);}

.noticeCont { padding-top:0 !important}
.noticeCont h3 {padding:26px 0 0}
.noticeCont h3 img {height:68px}

.noticeList {padding:0 10px}
.noticeList .num {display:block;text-align:right; margin-top:5px}
.noticeList ul {border-top:1px solid #333; margin-top:5px}
.noticeList ul li {display:table;width:100%; height:80px; vertical-align:middle; border-bottom:1px solid #e6e6e6}
.noticeList ul li a {display:table-cell;vertical-align:middle; box-sizing:border-box; padding:0 14px}
.noticeList ul li a em {display:block; font-size:1.3rem; font-weight:bold; margin-bottom:8px;overflow:hidden; text-overflow:ellipsis; display:-webkit-box; -webkit-line-clamp:2; -webkit-box-orient:vertical}
.noticeList ul li a span {color:#999; font-size:1.2rem}

.noticeView {padding:0 10px; margin-top:25px; text-align:center}
.noticeView dl {border-top:1px solid #333; margin-bottom:25px; text-align:left}
.noticeView dl dt {padding:20px 15px;border-bottom:1px solid #e6e6e6}
.noticeView dl dt em {display:block;font-size:1.3rem; font-weight:bold; margin-bottom:8px;}
.noticeView dl dt span {color:#999;font-size:1.2rem}
.noticeView dl dd {padding:15px 15px 30px; font-size:1.2rem;border-bottom:1px solid #e6e6e6}
.noticeView .listPage {font-size:1.4rem; color:#fff; background-color:#5a5a5a; padding:14px 70px; margin-bottom:40px}

.pageBtn {padding:40px 10px 70px}
.pageBtn a {font-size:2.1rem; display:block; text-align:left; padding:15px 25px; position:relative; border:1px solid #333; border-radius:50px; font-weight:bold}
.pageBtn a:after {content:'';width:20px; height:20px; position:absolute;right:20px; top:50%;transform:translate(0, -50%); -webkit-transform:translate(0, -50%);background:url(http://image1.hanatour.com/micro/promotion/package_people/ico_page_btn.png) no-repeat 0 0 / 10px 18px}

.pagingBox {text-align:center; margin:40px auto; position:relative; width:260px}
.pagingBox button {width:30px;height:30px; border:1px solid #e7e7e7;font-size:1.2rem; background-color:#fff}
.pagingBox > button {font-weight:bold;position:absolute;top:0;font-size:1.5rem;}
.pagingBox .prevPage {left:0;}
.pagingBox .nextPage {right:0}
.pagingBox .pageNum {}
.pagingBox .pageNum button.on {background-color:#7a16d4; color:#fff; border-color:#7a16d4} 
.pagingBox .pageNum button.connec {border:none; background:none; font-weight:bold; cursor:default}

.missionCity_top {background:url(http://image1.hanatour.com/micro/promotion/package_people/bg_mission_city_top.jpg) no-repeat 0 0 / 100% 100%; text-align:center; height:492px; box-sizing:border-box; overflow:hidden}
.missionCity_top h2 { margin:68px 10px 340px;}
.missionCity_top h2 img {height:84px}

.missionCity_cont {text-align:center; padding:0 10px}
.missionCity_cont h3 {font-size:1.9rem; margin:42px 0 20px; position:relative; display:inline-block; padding:0 50px}
.missionCity_cont h3:before {content:'';width:40px; height:1px; background-color:#333; position:absolute;left:0;top:48%}
.missionCity_cont h3:after {content:'';width:40px; height:1px; background-color:#333; position:absolute;right:0;top:48%}
.missionCity_cont .day {}
.missionCity_cont .sc_img img {height:130px}
.missionCity_cont .tabList {overflow:hidden}
.missionCity_cont .tabList li {float:left;width:50%; border:1px solid #e0e0e0; box-sizing:border-box}
.missionCity_cont .tabList li+li+li {border-top:none}
.missionCity_cont .tabList li:nth-child(2n+1) {border-right:none}
.missionCity_cont .tabList li button {color:#7047ad; width:100%; height:42px}
.missionCity_cont .tabList li.on button { color:#fff; font-weight:bold; background-color:#7047ad}

.courseSwipe {}
.courseSwipe .swiper-slide {}
.courseSwipe .swiper-slide div {text-align:left}
.courseSwipe .swiper-slide h4 img {height:21px; width:auto; margin:12px 0 10px}
.courseSwipe .swiper-slide p {color:#555; font-size:1.3rem}
.courseSwipe .swiper-slide p strong { color:#7047ad}

.cheer_cont { padding-top:0 !important}
.cheerTop {text-align:center; padding:27px 25px 32px}
.cheerTop h2 { margin-bottom:26px; text-align:left}
.cheerTop h2 img {height:70px}
.cheerTop p {color:#6d6d6d; font-size:1.3rem}
.cheerTop p strong {display:block; font-size:1.5rem; color:#333; margin-bottom:12px}
.cheerTop p span {display:block; color:#989898; font-size:1.5rem; margin:7px 0 14px}
.cheerTop b {display:block; background-color:#7a16d4; color:#fff; font-size:1.5rem; padding:12px 0}

.cheerMov_cont {padding:20px 10px 130px;background:#f3f3f3 url(http://image1.hanatour.com/micro/promotion/package_people/bg_cheer_cont.jpg) no-repeat center bottom / 100% auto}
.cheerMov_cont .sortSelect {text-align:right; padding-bottom:10px; border-bottom:1px solid #000}
.cheerMov_cont .sortSelect select {border:1px solid #333; padding:10px 60px 10px 10px; background:transparent url(http://image1.hanatour.com/micro/promotion/package_people/ico_select.png) no-repeat 92% center / 13px 7px}
.cheerMov_cont .mov_list {}
.cheerMov_cont .mov_list li {padding:25px 0 0; position:relative}
.cheerMov_cont .mov_list li strong {font-size:1.7rem}
.cheerMov_cont .mov_list li button {font-size:1.5rem; color:#e40d0d; float:right; padding:5px 0 5px 20px; background:url(http://image1.hanatour.com/micro/promotion/package_people/ico_love_off.png) no-repeat 0 center / 16px 13px;}
.cheerMov_cont .mov_list li button.on {background-image:url(http://image1.hanatour.com/micro/promotion/package_people/ico_love_on.png)}

.video_frameBox {position:relative;padding-bottom:56%; margin-top:12px}
.video_frameBox iframe {position:absolute;left:0;top:0;}

.support_cont { padding-top:0 !important}
.support_cont .spt_top {background:url(http://image1.hanatour.com/micro/promotion/package_people/bg_spt_top.jpg) no-repeat 0 0 / 100% 100%; padding:25px 10px 172px; text-align:center}
.support_cont .spt_top h2 {margin-bottom:17px}
.support_cont .spt_top h2 img {height:28px}
.support_cont .spt_top .moneyFlow {width:260px;margin: 0 auto 15px auto;box-sizing:border-box;position:relative;height:38px;box-shadow:#e1e1e1 1px 1px 4px;border-radius:5px;right:-20px}
.support_cont .spt_top .moneyFlow > div {box-shadow:inset #c1c1c1 2px 4px 5px; text-align:right;border-radius:5px;background-color:#fff; height:38px; box-sizing:border-box; padding:3px 12px 3px 0}
.support_cont .spt_top .moneyFlow:before {content:'';width:30px; height:24px; position:absolute;left:-40px;top:50%;background:url(http://image1.hanatour.com/micro/promotion/package_people/ico_won.png) no-repeat 0 center / 30px 24px;transform:translate(0, -50%); -webkit-transform:translate(0, -50%); }
.support_cont .spt_top .moneyFlow span {font-size:30px; color:#bababa;}
.support_cont .spt_top .moneyFlow span.cost { color:#261b1a;}
.support_cont .spt_top p {font-size:1.5rem}
.support_cont .spt_top p strong {display:block;color:#7a16d4;font-size:2.5rem}

.support_cont .spt_inner01 {padding:0 10px;}
.support_cont .spt_inner01 ul {overflow:hidden; margin-top:-82px; background-color:#fff}
.support_cont .spt_inner01 ul li {float:left;width:50%;text-align:center;height:160px; box-sizing:border-box}
.support_cont .spt_inner01 ul li:nth-child(1) {background-color:#7a16d4; padding:15px 10px 0}
.support_cont .spt_inner01 ul li:nth-child(1) * {color:#fff}
.support_cont .spt_inner01 ul li:nth-child(1) strong {font-size:1.9rem;display:block; margin-bottom:10px;background:url(http://image1.hanatour.com/micro/promotion/package_people/bg_spt_inner01_01.png) no-repeat center 0 / 23px 22px; padding-top:27px}
.support_cont .spt_inner01 ul li:nth-child(1) b {font-size:1.3rem}
.support_cont .spt_inner01 ul li:nth-child(1) span {font-size:1.1rem}
.support_cont .spt_inner01 ul li:nth-child(2) {padding:15px 10px 0;}
.support_cont .spt_inner01 ul li:nth-child(2) strong {font-size:1.9rem;display:block; color:#7a16d4;margin-bottom:10px;background:url(http://image1.hanatour.com/micro/promotion/package_people/bg_spt_inner01_02.png) no-repeat center 0 / auto 22px; padding-top:27px}
.support_cont .spt_inner01 ul li:nth-child(2) p {font-size:1rem}
.support_cont .spt_inner01 ul li:nth-child(3) {padding:38px 10px 0}
.support_cont .spt_inner01 ul li:nth-child(3) strong { color:#3d74ff; display:block; font-size:1.5rem;background:url(http://image1.hanatour.com/micro/promotion/package_people/bg_spt_inner01_03.png) no-repeat center 0 / 27px 22px; padding-top:33px; margin-bottom:4px}
.support_cont .spt_inner01 ul li:nth-child(4) {padding:35px 10px 0;background-color:#3d74ff}
.support_cont .spt_inner01 ul li:nth-child(4) strong {font-size:1.9rem;display:block; color:#fff;background:url(http://image1.hanatour.com/micro/promotion/package_people/bg_spt_inner01_04.png) no-repeat center 0 / 18px 24px; padding-top:29px; margin-bottom:12px}
.support_cont .spt_inner01 ul li:nth-child(4) span { color:#fff;font-size:1.3rem}

.support_cont .spt_inner02 {text-align:center; padding:0 10px}
.support_cont .spt_inner02 h3 {font-size:1.9rem; margin:42px 0 20px; position:relative; display:inline-block; padding:0 50px}
.support_cont .spt_inner02 h3:before {content:'';width:40px; height:1px; background-color:#333; position:absolute;left:0;top:48%}
.support_cont .spt_inner02 h3:after {content:'';width:40px; height:1px; background-color:#333; position:absolute;right:0;top:48%}
.support_cont .spt_inner02 ul {width:320px; margin:0 auto 10px}
.support_cont .spt_inner02 ul li {display:table;width:100%;}
.support_cont .spt_inner02 ul li em { display:table-cell; width:62px; height:74px}
.support_cont .spt_inner02 ul li em img { width:100%}
.support_cont .spt_inner02 ul li span {display:table-cell;width:auto; vertical-align:middle; padding:0 0 10px 10px; box-sizing:border-box; font-size:1.3rem; text-align:left}
.support_cont .spt_inner02 > p {border-top:1px solid #333; text-align:right; padding-top:21px; font-size:1rem}

.support_cont .spt_inner03 {padding:51px 0 0 0}
.support_cont .spt_inner03 h3 {text-align:; margin-bottom:20px}
.support_cont .spt_inner03 h3 img {height:69px}
.support_cont .spt_inner03 .swiper-container {top:-73px}
.support_cont .spt_inner03 .inBgBox {margin-top:93px;background:url(http://image1.hanatour.com/micro/promotion/package_people/bg_spt_inner03_left.png) no-repeat left bottom / 36px 182px,url(http://image1.hanatour.com/micro/promotion/package_people/bg_spt_inner03_right.png) no-repeat right bottom / 67px 62px; background-color:#ffefd9;}
.support_cont .spt_inner03 .swiper-slide {float:left;width:60%;align-items:baseline;text-align:left;margin-right:12px}
.support_cont .spt_inner03 .swiper-slide strong {color:#fdae3e;font-size:2rem}
.support_cont .spt_inner03 .swiper-slide p {color:#555;font-size:1.2rem}

.support_cont .spt_inner04 {padding:68px 0 0; text-align:center}
.support_cont .spt_inner04 h3 { margin-bottom:115px; text-align:right}
.support_cont .spt_inner04 h3 img {height:70px}
.support_cont .spt_inner04 .in_greenBox {padding:0 10px 36px;background:url(http://image1.hanatour.com/micro/promotion/package_people/bg_spt_inner04_right.png) no-repeat right 45% / 58px 45px,url(http://image1.hanatour.com/micro/promotion/package_people/bg_spt_inner04_left.png) no-repeat left bottom / 64px 54px; background-color:#e0f7db;}
.support_cont .spt_inner04 .in_greenBox > div {position:relative; top:-80px; margin-bottom:-80px}
.support_cont .spt_inner04 .grayBox {background-color:#f8f8f8}
.support_cont .spt_inner04 .spt_inner04_list {padding:15px 10px}
.support_cont .spt_inner04 .spt_inner04_list li {display:table;width:100%;text-align:left}
.support_cont .spt_inner04 .spt_inner04_list li+li {margin-top:15px}
.support_cont .spt_inner04 .spt_inner04_list li strong {font-size:1.3rem;color:#009152;display:table-cell;vertical-align:top; width:80px; box-sizing:border-box;}
.support_cont .spt_inner04 .spt_inner04_list li p {display:table-cell;vertical-align:top;width:auto}
.support_cont .spt_inner04 h4 {color:#009152;position:relative; display:inline-block; padding:0 50px; margin:0 auto 10px; font-size:1.9rem;} 
.support_cont .spt_inner04 h4:before {content:'';width:40px; height:1px; background-color:#009152; position:absolute;left:0;top:48%}
.support_cont .spt_inner04 h4:after {content:'';width:40px; height:1px; background-color:#009152; position:absolute;right:0;top:48%}
.support_cont .spt_inner04 .redTxt {color:#ec0708; font-size:1rem; text-align:right; font-weight:bold; margin-top:5px}
.support_cont .marT30 {margin-top:30px}
.support_cont .spt_inner04_cont {padding:30px 10px}
.support_cont .spt_inner04_cont em {color:#009152; font-size:1.5rem; font-weight:bold}
.support_cont .spt_inner04_cont p {color:#727272; font-size:1.2rem; margin-top:8px}

.support_cont .spt_inner05 {padding:68px 0 50px 0}
.support_cont .spt_inner05 h3 {margin-bottom:20px}
.support_cont .spt_inner05 h3 img {height:36px}
.support_cont .faqList {margin:0 10px;border-top:1px solid #ddd}
.support_cont .faqList dt {border-bottom:1px solid #ddd;background:url(http://image1.hanatour.com/micro/promotion/package_people/ico_q_off.png) no-repeat left center / 10px 13px; position:relative}
.support_cont .faqList dt.on {border-bottom-color:#7a16d4; background-image:url(http://image1.hanatour.com/micro/promotion/package_people/ico_q_on.png)}
.support_cont .faqList dt:after {content:'';width:7px; height:5px;background:url(http://image1.hanatour.com/micro/promotion/package_people/btn_qna_ico.png) no-repeat 0 0 / 7px 5px; position:absolute;right:4px; top:50%; margin-top:-3px; opacity:0.5}
.support_cont .faqList dt button {font-size:1.2rem; color:#555;width:100%; padding:10px 20px; text-align:left}
.support_cont .faqList dt.on button {color:#7a16d4; font-weight:bold}
.support_cont .faqList dt.on:after {opacity:1;transform:rotate(-180deg);-webkit-transform:rotate(-180deg);}
.support_cont .faqList dd {font-size:1.1rem; color:#757575; background-color:#f8f8f8; padding:21px;border-bottom:1px solid #ddd; display:none}
.support_cont .faqList dt.on+dd {display:block}
.support_cont .spt_inner05 > p {text-align:right;font-size:1rem; padding:6px 10px 0}
.support_cont .spt_inner05 > p span {color:#7a16d4}

.sptBtn {display:block; margin-top:25px; position:fixed; left:0;bottom:0; z-index:100; width:100%}
.sptBtn img {width:100%}

/* swiper */
.swiper-slide {text-align:center;display:-webkit-box;display:-ms-flexbox;display:-webkit-flex;display:flex;-webkit-box-pack:center;-ms-flex-pack:center;-webkit-justify-content:center;justify-content:center;-webkit-box-align:center;-ms-flex-align:center;-webkit-align-items:center;align-items:center}
.swiper-slide img {width:100%}
.swiper-container {margin:0 auto;position:relative;overflow:hidden;z-index:1;width:100%}
.swiper-container-no-flexbox .swiper-slide{float:left}.swiper-container-vertical>.swiper-wrapper{-webkit-box-orient:vertical;-moz-box-orient:vertical;-ms-flex-direction:column;-webkit-flex-direction:column;flex-direction:column}.swiper-wrapper{position:relative;width:100%;height:;z-index:1;display:-webkit-box;display:-moz-box;display:-ms-flexbox;display:-webkit-flex;display:flex;-webkit-transition-property:-webkit-transform;-moz-transition-property:-moz-transform;-o-transition-property:-o-transform;-ms-transition-property:-ms-transform;transition-property:transform;-webkit-box-sizing:content-box;-moz-box-sizing:content-box;box-sizing:content-box}.swiper-container-android .swiper-slide,.swiper-wrapper{-webkit-transform:translate3d(0,0,0);-moz-transform:translate3d(0,0,0);-o-transform:translate(0,0);-ms-transform:translate3d(0,0,0);transform:translate3d(0,0,0)}.swiper-container-multirow>.swiper-wrapper{-webkit-box-lines:multiple;-moz-box-lines:multiple;-ms-flex-wrap:wrap;-webkit-flex-wrap:wrap;flex-wrap:wrap}.swiper-container-free-mode>.swiper-wrapper{-webkit-transition-timing-function:ease-out;-moz-transition-timing-function:ease-out;-ms-transition-timing-function:ease-out;-o-transition-timing-function:ease-out;transition-timing-function:ease-out;margin:0 auto}.swiper-slide{-webkit-flex-shrink:0;-ms-flex:0 0 auto;flex-shrink:0;width:100%;position:relative}.swiper-container .swiper-notification{position:absolute;left:0;top:0;pointer-events:none;opacity:0;z-index:-1000}.swiper-wp8-horizontal{-ms-touch-action:pan-y;touch-action:pan-y}.swiper-wp8-vertical{-ms-touch-action:pan-x;touch-action:pan-x}.swiper-button-next,.swiper-button-prev{position:absolute;top:50%;width:27px;height:44px;margin-top:-22px;z-index:10;cursor:pointer;-moz-background-size:27px 44px;-webkit-background-size:27px 44px;background-size:27px 44px;background-position:center;background-repeat:no-repeat}.swiper-button-next.swiper-button-disabled,.swiper-button-prev.swiper-button-disabled{opacity:.35;cursor:auto;pointer-events:none}.swiper-button-prev,.swiper-container-rtl .swiper-button-next{background-image:url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M0%2C22L22%2C0l2.1%2C2.1L4.2%2C22l19.9%2C19.9L22%2C44L0%2C22L0%2C22L0%2C22z'%20fill%3D'%23007aff'%2F%3E%3C%2Fsvg%3E");left:10px;right:auto}.swiper-button-prev.swiper-button-black,.swiper-container-rtl .swiper-button-next.swiper-button-black{background-image:url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M0%2C22L22%2C0l2.1%2C2.1L4.2%2C22l19.9%2C19.9L22%2C44L0%2C22L0%2C22L0%2C22z'%20fill%3D'%23000000'%2F%3E%3C%2Fsvg%3E")}.swiper-button-prev.swiper-button-white,.swiper-container-rtl .swiper-button-next.swiper-button-white{background-image:url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M0%2C22L22%2C0l2.1%2C2.1L4.2%2C22l19.9%2C19.9L22%2C44L0%2C22L0%2C22L0%2C22z'%20fill%3D'%23ffffff'%2F%3E%3C%2Fsvg%3E")}.swiper-button-next,.swiper-container-rtl .swiper-button-prev{background-image:url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M27%2C22L27%2C22L5%2C44l-2.1-2.1L22.8%2C22L2.9%2C2.1L5%2C0L27%2C22L27%2C22z'%20fill%3D'%23007aff'%2F%3E%3C%2Fsvg%3E");right:10px;left:auto}.swiper-button-next.swiper-button-black,.swiper-container-rtl .swiper-button-prev.swiper-button-black{background-image:url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M27%2C22L27%2C22L5%2C44l-2.1-2.1L22.8%2C22L2.9%2C2.1L5%2C0L27%2C22L27%2C22z'%20fill%3D'%23000000'%2F%3E%3C%2Fsvg%3E")}.swiper-button-next.swiper-button-white,.swiper-container-rtl .swiper-button-prev.swiper-button-white{background-image:url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M27%2C22L27%2C22L5%2C44l-2.1-2.1L22.8%2C22L2.9%2C2.1L5%2C0L27%2C22L27%2C22z'%20fill%3D'%23ffffff'%2F%3E%3C%2Fsvg%3E")}.swiper-pagination{bottom:10px; text-align:center;width:100%;position:absolute;text-align:center;-webkit-transition:.3s;-moz-transition:.3s;-o-transition:.3s;transition:.3s;-webkit-transform:translate3d(0,0,0);-ms-transform:translate3d(0,0,0);-o-transform:translate3d(0,0,0);transform:translate3d(0,0,0);z-index:10}.swiper-pagination.swiper-pagination-hidden{opacity:0}.swiper-pagination-bullet{width:8px;height:8px;display:inline-block;border-radius:100%;}button.swiper-pagination-bullet{border:none;margin:0;padding:0;box-shadow:none;-moz-appearance:none;-ms-appearance:none;-webkit-appearance:none;appearance:none}.swiper-pagination-clickable .swiper-pagination-bullet{cursor:pointer}.swiper-pagination-white .swiper-pagination-bullet{background:#fff}.swiper-pagination-bullet-active{opacity:1;background:#007aff}.swiper-pagination-white .swiper-pagination-bullet-active{background:#fff}.swiper-pagination-black .swiper-pagination-bullet-active{background:#000}.swiper-container-vertical>.swiper-pagination{right:10px;top:50%;-webkit-transform:translate3d(0,-50%,0);-moz-transform:translate3d(0,-50%,0);-o-transform:translate(0,-50%);-ms-transform:translate3d(0,-50%,0);transform:translate3d(0,-50%,0)}.swiper-container-vertical>.swiper-pagination .swiper-pagination-bullet{margin:5px 0;display:block}.swiper-container-horizontal>.swiper-pagination{bottom:15px;left:0;width:100%}.swiper-container-horizontal>.swiper-pagination .swiper-pagination-bullet{margin:0 2px}.swiper-container-3d{-webkit-perspective:1200px;-moz-perspective:1200px;-o-perspective:1200px;perspective:1200px}.swiper-container-3d .swiper-cube-shadow,.swiper-container-3d .swiper-slide,.swiper-container-3d .swiper-slide-shadow-bottom,.swiper-container-3d .swiper-slide-shadow-left,.swiper-container-3d .swiper-slide-shadow-right,.swiper-container-3d .swiper-slide-shadow-top,.swiper-container-3d .swiper-wrapper{-webkit-transform-style:preserve-3d;-moz-transform-style:preserve-3d;-ms-transform-style:preserve-3d;transform-style:preserve-3d}.swiper-container-3d .swiper-slide-shadow-bottom,.swiper-container-3d .swiper-slide-shadow-left,.swiper-container-3d .swiper-slide-shadow-right,.swiper-container-3d .swiper-slide-shadow-top{position:absolute;left:0;top:0;width:100%;height:100%;pointer-events:none;z-index:10}.swiper-container-3d .swiper-slide-shadow-left{background-image:-webkit-gradient(linear,left top,right top,from(rgba(0,0,0,.5)),to(rgba(0,0,0,0)));background-image:-webkit-linear-gradient(right,rgba(0,0,0,.5),rgba(0,0,0,0));background-image:-moz-linear-gradient(right,rgba(0,0,0,.5),rgba(0,0,0,0));background-image:-o-linear-gradient(right,rgba(0,0,0,.5),rgba(0,0,0,0));background-image:linear-gradient(to left,rgba(0,0,0,.5),rgba(0,0,0,0))}.swiper-container-3d .swiper-slide-shadow-right{background-image:-webkit-gradient(linear,right top,left top,from(rgba(0,0,0,.5)),to(rgba(0,0,0,0)));background-image:-webkit-linear-gradient(left,rgba(0,0,0,.5),rgba(0,0,0,0));background-image:-moz-linear-gradient(left,rgba(0,0,0,.5),rgba(0,0,0,0));background-image:-o-linear-gradient(left,rgba(0,0,0,.5),rgba(0,0,0,0));background-image:linear-gradient(to right,rgba(0,0,0,.5),rgba(0,0,0,0))}.swiper-container-3d .swiper-slide-shadow-top{background-image:-webkit-gradient(linear,left top,left bottom,from(rgba(0,0,0,.5)),to(rgba(0,0,0,0)));background-image:-webkit-linear-gradient(bottom,rgba(0,0,0,.5),rgba(0,0,0,0));background-image:-moz-linear-gradient(bottom,rgba(0,0,0,.5),rgba(0,0,0,0));background-image:-o-linear-gradient(bottom,rgba(0,0,0,.5),rgba(0,0,0,0));background-image:linear-gradient(to top,rgba(0,0,0,.5),rgba(0,0,0,0))}.swiper-container-3d .swiper-slide-shadow-bottom{background-image:-webkit-gradient(linear,left bottom,left top,from(rgba(0,0,0,.5)),to(rgba(0,0,0,0)));background-image:-webkit-linear-gradient(top,rgba(0,0,0,.5),rgba(0,0,0,0));background-image:-moz-linear-gradient(top,rgba(0,0,0,.5),rgba(0,0,0,0));background-image:-o-linear-gradient(top,rgba(0,0,0,.5),rgba(0,0,0,0));background-image:linear-gradient(to bottom,rgba(0,0,0,.5),rgba(0,0,0,0))}.swiper-container-coverflow .swiper-wrapper{-ms-perspective:1200px}.swiper-container-fade.swiper-container-free-mode .swiper-slide{-webkit-transition-timing-function:ease-out;-moz-transition-timing-function:ease-out;-ms-transition-timing-function:ease-out;-o-transition-timing-function:ease-out;transition-timing-function:ease-out}.swiper-container-fade .swiper-slide{pointer-events:none}.swiper-container-fade .swiper-slide .swiper-slide{pointer-events:none}.swiper-container-fade .swiper-slide-active,.swiper-container-fade .swiper-slide-active .swiper-slide-active{pointer-events:auto}.swiper-container-cube{overflow:visible}.swiper-container-cube .swiper-slide{pointer-events:none;visibility:hidden;-webkit-transform-origin:0 0;-moz-transform-origin:0 0;-ms-transform-origin:0 0;transform-origin:0 0;-webkit-backface-visibility:hidden;-moz-backface-visibility:hidden;-ms-backface-visibility:hidden;backface-visibility:hidden;width:100%;height:100%;z-index:1}.swiper-container-cube.swiper-container-rtl .swiper-slide{-webkit-transform-origin:100% 0;-moz-transform-origin:100% 0;-ms-transform-origin:100% 0;transform-origin:100% 0}.swiper-container-cube .swiper-slide-active,.swiper-container-cube .swiper-slide-next,.swiper-container-cube .swiper-slide-next+.swiper-slide,.swiper-container-cube .swiper-slide-prev{pointer-events:auto;visibility:visible}.swiper-container-cube .swiper-slide-shadow-bottom,.swiper-container-cube .swiper-slide-shadow-left,.swiper-container-cube .swiper-slide-shadow-right,.swiper-container-cube .swiper-slide-shadow-top{z-index:0;-webkit-backface-visibility:hidden;-moz-backface-visibility:hidden;-ms-backface-visibility:hidden;backface-visibility:hidden}.swiper-container-cube .swiper-cube-shadow{position:absolute;left:0;bottom:0;width:100%;height:100%;background:#000;opacity:.6;-webkit-filter:blur(50px);filter:blur(50px);z-index:0}.swiper-scrollbar{border-radius:10px;position:relative;-ms-touch-action:none;background:rgba(0,0,0,.1)}.swiper-container-horizontal>.swiper-scrollbar{position:absolute;left:1%;bottom:3px;z-index:50;height:5px;width:98%}.swiper-container-vertical>.swiper-scrollbar{position:absolute;right:3px;top:1%;z-index:50;width:5px;height:98%}.swiper-scrollbar-drag{height:100%;width:100%;position:relative;background:rgba(0,0,0,.5);border-radius:10px;left:0;top:0}.swiper-scrollbar-cursor-drag{cursor:move}.swiper-lazy-preloader{width:42px;height:42px;position:absolute;left:50%;top:50%;margin-left:-21px;margin-top:-21px;z-index:10;-webkit-transform-origin:50%;-moz-transform-origin:50%;transform-origin:50%;-webkit-animation:swiper-preloader-spin 1s steps(12,end) infinite;-moz-animation:swiper-preloader-spin 1s steps(12,end) infinite;animation:swiper-preloader-spin 1s steps(12,end) infinite}.swiper-lazy-preloader:after{display:block;content:"";width:100%;height:100%;background-image:url("data:image/svg+xml;charset=utf-8,%3Csvg%20viewBox%3D'0%200%20120%20120'%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20xmlns%3Axlink%3D'http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink'%3E%3Cdefs%3E%3Cline%20id%3D'l'%20x1%3D'60'%20x2%3D'60'%20y1%3D'7'%20y2%3D'27'%20stroke%3D'%236c6c6c'%20stroke-width%3D'11'%20stroke-linecap%3D'round'%2F%3E%3C%2Fdefs%3E%3Cg%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(30%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(60%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(90%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(120%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(150%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.37'%20transform%3D'rotate(180%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.46'%20transform%3D'rotate(210%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.56'%20transform%3D'rotate(240%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.66'%20transform%3D'rotate(270%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.75'%20transform%3D'rotate(300%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.85'%20transform%3D'rotate(330%2060%2C60)'%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E");background-position:50%;-webkit-background-size:100%;background-size:100%;background-repeat:no-repeat}.swiper-lazy-preloader-white:after{background-image:url("data:image/svg+xml;charset=utf-8,%3Csvg%20viewBox%3D'0%200%20120%20120'%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20xmlns%3Axlink%3D'http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink'%3E%3Cdefs%3E%3Cline%20id%3D'l'%20x1%3D'60'%20x2%3D'60'%20y1%3D'7'%20y2%3D'27'%20stroke%3D'%23fff'%20stroke-width%3D'11'%20stroke-linecap%3D'round'%2F%3E%3C%2Fdefs%3E%3Cg%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(30%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(60%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(90%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(120%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(150%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.37'%20transform%3D'rotate(180%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.46'%20transform%3D'rotate(210%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.56'%20transform%3D'rotate(240%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.66'%20transform%3D'rotate(270%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.75'%20transform%3D'rotate(300%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.85'%20transform%3D'rotate(330%2060%2C60)'%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E")}@-webkit-keyframes swiper-preloader-spin{100%{-webkit-transform:rotate(360deg)}}@keyframes swiper-preloader-spin{100%{transform:rotate(360deg)}}

.swiper-pagination-bullet {width:7px;height: 7px;display: inline-block; border-radius: 50%; background:#ccc; margin:3px;}
.swiper-pagination-bullet-active {background:#222}
.swiper-pagination.pink .swiper-pagination-bullet {border: 1px solid #e0e0e0}
.swiper-pagination.pink .swiper-pagination-bullet-active {background-color:#e45b85; border-color:#e45b85}

.swiper-pag-num {bottom:10px;right:10px;color:#fff;font-size:1.4rem;background:rgba(0,0,0,0.8); padding:5px 12px; border-radius:50px; position:absolute; text-align:center; z-index:100; font-weight:bold}

.swiper-container button img {height:25px}
.swiper-container .btn_prev {width:25px; height:25px;position:absolute;left:10px;top:20.8%;z-index:100}
.swiper-container .btn_next {width:25px; height:25px;position:absolute;right:10px;top:20.8%;z-index:100}

.courseSwipe {margin-top:15px}
.courseSwipe .swiper-slide {align-items:baseline}
.courseSwipe .swiper-pagination-bullet {width:7px;height: 7px;display: inline-block; border-radius: 50%; background:#fff; margin:3px; border:1px solid #bebebe}
.courseSwipe .swiper-pagination-bullet-active {background:#7047ad;border:1px solid #fff}
.courseSwipe.swiper-container-horizontal>.swiper-pagination {bottom:0; top:33vw}

/*
@keyframes splash {
    from {
    	transform: rotate(0.02deg);
        background-position-x : 45px;
    }
    50% {
    	transform: rotate(0.01deg);
        background-position-x : -45px;
    }
    to {
    	transform: rotate(0.02deg);
        background-position-x : 45px;
    }
}*/

/* 팝업 */
.popReserve01 .header {position:fixed;left:0;top:0;width:100%; z-index:1}
.popReserve01 h3 {background-color:#e2e2e2;position:relative; color:#7a16d4; height:40px; padding:12px 0 0 12px; font-size:16px; box-sizing:border-box; border-bottom:1px solid #333}
.popReserve01 h3 a {position:absolute;right:0;top:0;background:#000 url(http://image1.hanatour.com/micro/promotion/package_people/btn_close01.png) no-repeat center center / 18px 18px; width:40px; height:40px; padding:0}
.pop_support {padding:10px 10px 80px;position:relative; margin-top:40px}
.pop_support h4 {margin:20px 0 0;font-size:2rem;text-align:center;border-bottom:1px solid #000;padding-bottom:8px}
.pop_support h4 span {font-size:1.3rem}
.pop_support .stitTxt {background-color:#f8f8f8;font-size:1.3rem;color:#555;padding:12px 10px}
.pop_support .contBox {border-bottom:1px solid #c7c7c7;padding:10px}
.pop_support .ipBase {border:1px solid #c7c7c7;width:100%; height:35px;text-indent:10px}
.pop_support .ipBase+.ipBase {margin-top:5px}

.pop_support .write_people strong {display:block;font-size:1.2rem; color:#333;margin:15px 0 7px}
.pop_support .write_btnBox {text-align:right; margin-top:5px}
.pop_support .write_btnBox button {background:#e6e6e6 no-repeat center center;width:52px;height:30px;font-weight:bold; font-size:2rem}
.pop_support .write_btnBox .pp_plus {background-image:url(http://image1.hanatour.com/micro/promotion/package_people/btn_people_plus.png); background-size:10px 10px}
.pop_support .write_btnBox .pp_del {background-image:url(http://image1.hanatour.com/micro/promotion/package_people/btn_people_del.png); background-size:11px 2px}
.pop_support textarea {width:100%;height:170px;border:1px solid #c7c7c7;padding:10px;box-sizing:border-box}
.pop_support .textCount {text-align:right; font-size:1.4rem;padding-top:5px}
.pop_support .btm_btnFixed {position:fixed;width:100%;left:0;bottom:0;display:table}
.pop_support .btm_btnFixed a {background-color:#7a16d4;color:#fff; font-size:1.8rem; display:table-cell;width:50%; text-align:center; height:52px; vertical-align:middle}
.pop_support .btm_btnFixed a+a {background-color:#999}
.pop_support .spt_terms { padding:42px 0 0}
.pop_support .spt_terms h5 {margin-bottom:10px;font-size:1.3rem}
.pop_support .spt_terms .termsTxtBox {height:130px;overflow-y:scroll;padding:12px 10px; border:1px solid #e6e6e6;-webkit-overflow-scrolling: touch}
.pop_support .spt_terms .termsTxtBox * {color:#787878;font-size:1.1rem}
.pop_support .termsBtnBox {text-align:center;padding:17px 0 0}
.pop_support .termsBtnBox button {width:80px;background-color:#999; height:35px; color:#fff; font-size:1.1rem}
.pop_support .termsBtnBox button.on {background-color:#555}
.pop_support .spt_root {padding:42px 0 0}
.pop_support .spt_root h5 {margin-bottom:10px;font-size:1.3rem}
.pop_support .spt_root .labelBox { overflow:hidden}
.pop_support .spt_root .labelBox label {float:left;width:50%; margin-bottom:10px}
.pop_support .spt_root .labelBox label input[type="checkbox"] {height:18px;width:18px;border:1px solid #aaa;background-color:#fff; margin-right:4px}
.pop_support .spt_root .labelBox label input[type="checkbox"]:checked {background:#fff url(http://image1.hanatour.com/micro/promotion/package_people/bg_people_check.png) no-repeat center center / 11px 8px}
.pop_support .spt_root .labelBox label span {color:#787878; font-size:1.3rem}
.pop_support .spt_root .labelBox label input[type="checkbox"]:checked+span {color:#333}
.pop_support .spt_root .labelBox label.long {width:100%}
.pop_support .spt_root .labelBox label.long input[type="text"] {width:220px;border:1px solid #c7c7c7;height:35px;text-indent:10px; margin-left:10px}

input:focus::-webkit-input-placeholder, textarea:focus::-webkit-input-placeholder {color:transparent}/* WebKit browsers */ 
input:focus:-moz-placeholder, textarea:focus:-moz-placeholder {color:transparent} /* Mozilla Firefox 4 to 18 */
input:focus::-moz-placeholder, textarea:focus::-moz-placeholder {color:transparent} /* Mozilla Firefox 19+ */ 
input:focus:-ms-input-placeholder, textarea:focus:-ms-input-placeholder {color:transparent} /* Internet Explorer 10+ */

/* 20190131 */
.sub2019_top01 {background:url(http://image1.hanatour.com/micro/promotion/package_people/bg_sub2019_top01.jpg) no-repeat 0 0 / 100% 100%; text-align:center; padding:51px 0 193px}
.sub2019_top01 h2 img {height:165px}
.sub2019_top01 p {color:#fff; font-size:1.2rem; padding-top:20px; position:relative; line-height:1.7rem}
.sub2019_top01 p:before { content:'';width:1px; height:12px; background:rgba(255,255,255,0.6); position:absolute;left:50%;top:4px}

.sub2019_cont01 {}
.sub2019_cont01 h3 {text-align:right; padding:30px 0 20px}
.sub2019_cont01 h3 img {height:77px}
.dayCourse {background-color:#e9ecef; padding:15px 0 10px}
.dayCourse .swiper-slide {float:left; width:auto; margin-right:10px}
.dayCourse .swiper-slide.freeDay {margin-right:0}
.dayCourse .swipeBar {background:#d0d2d3; height:3px; border-bottom:1px solid #e0e0e0; position:relative}
.dayCourse .swipeBar .bar {position: absolute;left: 0;bottom: 0;width: 80px;height: 3px;background:#6f1bb7}
.dayCourse .in_dayBox {display:table;width:100%}
.dayCourse .in_dayBox strong {display:table-cell;vertical-align:middle}
.dayCourse .in_dayBox strong span {background-color:#6f1bb7;color:#fff;font-size:1.3rem; border-radius:50px; padding:5px 14px;}
.dayCourse .in_dayBox ol {overflow:hidden;display:table-cell;vertical-align:bottom;background:url(http://image1.hanatour.com/micro/promotion/package_people/bg_day_course_line.png) repeat-x 0 center / 1px 4px; min-width:117px; text-align:center; padding-left:15px; box-sizing:border-box;}
.dayCourse .in_dayBox ol:after {content:'';width:8px; height:8px;background:url(http://image1.hanatour.com/micro/promotion/package_people/bg_day_course_rarr.png) no-repeat 0 0 / 8px 8px; position:absolute;right:-4px;top:50%;transform:translate(0, -6px); -webkit-transform:translate(0, -6px); }
.dayCourse .in_dayBox ol li { display:table-cell; vertical-align:bottom;float:left;font-size:1.2rem;position:relative; padding-top:75px; margin-right:40px; background:no-repeat center 0 / 46px 52px; min-width:46px; height:120px; box-sizing:border-box}
.dayCourse .in_dayBox ol li.bg_ico01 {background-image:url(http://image1.hanatour.com/micro/promotion/package_people/ico_day_list01.png)} 
.dayCourse .in_dayBox ol li.bg_ico02 {background-image:url(http://image1.hanatour.com/micro/promotion/package_people/ico_day_list02.png)} 
.dayCourse .in_dayBox ol li.bg_ico03 {background-image:url(http://image1.hanatour.com/micro/promotion/package_people/ico_day_list03.png)} 
.dayCourse .in_dayBox ol li.bg_ico04 {background-image:url(http://image1.hanatour.com/micro/promotion/package_people/ico_day_list04.png)} 
.dayCourse .in_dayBox ol li.bg_ico05 {background-image:url(http://image1.hanatour.com/micro/promotion/package_people/ico_day_list05.png)} 
.dayCourse .in_dayBox ol li.bg_ico06 {background-image:url(http://image1.hanatour.com/micro/promotion/package_people/ico_day_list06.png)} 
.dayCourse .in_dayBox ol li.bg_ico07 {background-image:url(http://image1.hanatour.com/micro/promotion/package_people/ico_day_list07.png)} 
.dayCourse .in_dayBox ol li.bg_ico08 {background-image:url(http://image1.hanatour.com/micro/promotion/package_people/ico_day_list08.png)} 
.dayCourse .in_dayBox ol li.bg_ico09 {background-image:url(http://image1.hanatour.com/micro/promotion/package_people/ico_day_list09.png)} 
.dayCourse .in_dayBox ol li em { vertical-align:top}
.dayCourse .in_dayBox ol li:before {content:''; border:1px solid #b181dc; border-radius:50%; background-color:#fff; width:14px; height:14px; position:absolute;left:50%;top:50%; margin:-7px 0 0 -7px; box-sizing:border-box}
.dayCourse .in_dayBox ol li:last-child {margin-right:30px}
.dayCourse .in_dayBox .freeTxt {font-size:1.1rem; display:block; padding:10px 40px;background:url(http://image1.hanatour.com/micro/promotion/package_people/bg_free_txt.png) no-repeat 0 center / 129px 19px; margin:0 -5px; font-weight:bold}

.sub2019_cont02 h3 {padding:30px 0 20px; text-align:left}
.sub2019_cont02 h3 img {height:81px}

.sub2019_cont02 .tabList {overflow:hidden; padding:5px 8px 20px}
.sub2019_cont02 .tabList li {float:left;width:50%;box-sizing:border-box; padding:0 8px 10px}
.sub2019_cont02 .tabList li button {width:100%; -webkit-box-shadow:0 10px 6px -6px #777;-moz-box-shadow:0 10px 6px -6px #777;box-shadow:0 10px 6px -6px #ccc;position:relative}
.sub2019_cont02 .tabList li button.btn_left {border-radius:25px 25px 0 25px;}
.sub2019_cont02 .tabList li button.btn_left:after {content:'';width:0; height:0; border-left:30px solid transparent;border-top:20px solid #464646; position:absolute;right:0;bottom:-20px;}
.sub2019_cont02 .tabList li.on button.btn_left:after {border-left:30px solid transparent;border-top:20px solid #d84188;}
.sub2019_cont02 .tabList li button.btn_right {border-radius:25px 25px 25px 0}
.sub2019_cont02 .tabList li button.btn_right:after {content:'';width:0; height:0; border-right:30px solid transparent;border-top:20px solid #464646; position:absolute;left:0;bottom:-20px;}
.sub2019_cont02 .tabList li.on button.btn_right:after {border-right:30px solid transparent;border-top:20px solid #d84188;}
.sub2019_cont02 .tabList li button .graBox {padding:18px 0 22px;background:#464646;}
.sub2019_cont02 .tabList li button.btn_left .graBox {border-radius:0 0 0 25px;}
.sub2019_cont02 .tabList li button.btn_right .graBox {border-radius:0 0 25px 0;}
.sub2019_cont02 .tabList li.on button.btn_left .graBox {background: -moz-linear-gradient(-45deg,#6d49c4 ,#db4286);background: -webkit-linear-gradient(-45deg, #6d49c4, #db4286); border-radius:0 0 0 25px}
.sub2019_cont02 .tabList li.on button.btn_right .graBox {background: -moz-linear-gradient(-135deg,#6d49c4 ,#db4286);background: -webkit-linear-gradient(-135deg, #6d49c4, #db4286); border-radius:0 0 25px 0}
.sub2019_cont02 .tabList li button * {color:#fff}
.sub2019_cont02 .tabList li button .static .img {display:block; position:relative}
.sub2019_cont02 .tabList li button .static .img:after {content:''; position:absolute;left:0;top:0;width:100%; height:100%; border-radius:25px 25px 0 0; background:rgba(0,0,0,0.5)}
.sub2019_cont02 .tabList li.on button .static .img:after {content:none;}
.sub2019_cont02 .tabList li button .static .img img {width:100%}
.sub2019_cont02 .tabList li button .static .type {display:inline-block; font-size:1.1rem; border-radius:50px; letter-spacing:0; border:1px solid #fff; padding:2px 15px}
.sub2019_cont02 .tabList li button .static strong {display:block; font-size:1.6rem; margin:8px 0 10px}
.sub2019_cont02 .tabList li button .static em { font-size:1.2rem}
.sub2019_cont02 .tabList li.on button.btn_left .fixed {background-color:#912b4f}
.sub2019_cont02 .tabList li.on button.btn_left .fixed span{background-color:#eb4982}
.sub2019_cont02 .tabList li.on button.btn_right .fixed {background-color:#4f2475}
.sub2019_cont02 .tabList li.on button.btn_right .fixed span {background-color:#7a16d4}
.sub2019_cont02 .tabList li button .fixed {background-color:#4e4e4e; border-radius:15px;height:44px; box-sizing:border-box; display:none}
.sub2019_cont02 .tabList li button .fixed span {background-color:#808080; display:block; padding:11px 0; border-radius:15px; font-size:1.6rem; font-weight:bold;height:44px; box-sizing:border-box; top:-4px; position:relative}
.sub2019_cont02 .tabList.fixed .fixed {display:block; position:fixed;left:10px;top:122px;width:46%; z-index:1}
.sub2019_cont02 .tabList.fixed .btn_right .fixed {right:10px;left:auto}

.sub2019_cont02 .tabCont {padding:0 10px; text-align:center;}
.sub2019_cont02 .movieCont {padding:25px 7px 7px; margin-bottom:25px}
.sub2019_cont02 .movieCont.col01 {border:2px solid #eb4982}
.sub2019_cont02 .movieCont.col02 {border:2px solid #6e1bb8}
.sub2019_cont02 .movieCont h4 {font-size:2.5rem;font-weight:normal; margin:0 -7px}
.sub2019_cont02 .movieCont h4 span { display:inline-block; background-color:#fff; padding:0 10px}
.sub2019_cont02 .movieCont.col01 h4 {color:#eb4982;background:url(http://image1.hanatour.com/micro/promotion/package_people/bg_movie_cont_tit01.png) repeat-x 0 center / 1px 1px}
.sub2019_cont02 .movieCont.col02 h4 {color:#6e1bb8;background:url(http://image1.hanatour.com/micro/promotion/package_people/bg_movie_cont_tit02.png) repeat-x 0 center / 1px 1px}
.sub2019_cont02 .movieCont .face_img {display:block; padding:15px 0}
.sub2019_cont02 .movieCont dl {}
.sub2019_cont02 .movieCont dl dt { font-size:1.8rem; color:#333}
.sub2019_cont02 .movieCont dl dt span { display:block; color:#333; font-size:1.1rem; opacity:0.7}
.sub2019_cont02 .movieCont .txt_dd {font-size:1.1rem; color:#666; padding:15px 0 35px}
.sub2019_cont02 .movieCont.col01 .txt_dd span { color:#eb4982}
.sub2019_cont02 .movieCont.col02 .txt_dd span { color:#6e1bb8}
.sub2019_cont02 .movieCont .mov_dd {}
.sub2019_cont02 .movieCont .mov_dd strong { font-size:1.3rem; color:#333}
.sub2019_cont02 .movieCont .mov_dd p {font-size:1.1rem; color:#666; margin:10px 0}

.sub2019_cont02 .best3_Cont { padding-bottom:25px}
.sub2019_cont02 .best3_Cont h4 {text-align:right; padding:30px 0}
.sub2019_cont02 .best3_Cont h4 img {height:59px}
.sub2019_cont02 .best3_Cont ul li {border:1px solid #e8e8e8; padding-bottom:18px}
.sub2019_cont02 .best3_Cont ul li+li {margin-top:10px}
.sub2019_cont02 .best3_Cont ul li .img img {width:100%}
.sub2019_cont02 .best3_Cont ul li > div {text-align:left; padding:15px 18px}
.sub2019_cont02 .best3_Cont ul li strong { font-size:1.6rem; color:#333; font-weight:normal}
.sub2019_cont02 .best3_Cont ul li p {color:#888; font-size:1.2rem; margin-top:5px}
.sub2019_cont02 .best3_Cont ul li a {}
.sm_prodBtn {font-size:1.2rem; display:inline-block; padding:5px 25px; position:relative; border:1px solid #333; border-radius:50px; margin:0 auto}
.sm_prodBtn:after {content:''; display:inline-block;width:5px; height:9px;background:url(http://image1.hanatour.com/micro/promotion/package_people/ico_prod_btn.png) no-repeat 0 0 / 5px 9px; position:relative; top:-1px; margin-left:10px}
.grayLine {height:10px; background-color:#e9ecef; border-top:1px solid #e0e0e0; margin:0 -10px}

.btmEvnet_green {text-align:center; padding:35px 0 30px; background:url(http://image1.hanatour.com/micro/promotion/package_people/ico_event_left.png) no-repeat 0 bottom / 73px 69px,url(http://image1.hanatour.com/micro/promotion/package_people/ico_event_right.png) no-repeat right 0 / 55px 51px; background-color:#e0f7db}
.btmEvnet_green h3 {}
.btmEvnet_green h3 img {height:20px}
.btmEvnet_green p { margin:15px 0 30px; color:#ec0708; font-size:1.3rem}
.btmEvnet_green .sm_prodBtn {}

.sub2019_top02 {background:url(http://image1.hanatour.com/micro/promotion/package_people/bg_sub2019_top02.jpg) no-repeat 0 0 / 100% 100%; text-align:center; padding:51px 0 193px}
.sub2019_top02 h2 img {height:205px}
.sub2019_top02 p {color:#fff; font-size:1.2rem; padding-top:20px; position:relative; line-height:1.7rem}
.sub2019_top02 p:before {content:'';width:1px; height:12px; background:rgba(255,255,255,0.6); position:absolute;left:50%;top:4px}

.sub2019_cont03 {}
.sub2019_cont03 h3 {text-align:right; padding:30px 0 20px}
.sub2019_cont03 h3 img {height:78px}

.sub2019_cont04 {padding:0 13px 25px}
.sub2019_cont04 h3 {text-align:left;padding:20px 0 23px; margin:0 -13px}
.sub2019_cont04 h3 img {height:63px}
.how_tobe_swipe {}
.how_tobe_swipe .swiper-slide {}
.how_tobe_swipe .swiper-slide div {text-align:left; padding:0 18px 20px;border:1px solid #e8e8e8}
.how_tobe_swipe .swiper-slide div span {display:block; margin:-15px -18px 0; }
.how_tobe_swipe .swiper-slide div span img {}
.how_tobe_swipe .swiper-slide div h4 {font-size:1.6rem;color:#fc5419; margin:10px 0 4px}
.how_tobe_swipe .swiper-slide div p {color:#888; height:50px; font-size:1.2rem}

.sub2019_cont05 { padding:20px 13px}
.sub2019_cont05 .tabList {overflow:hidden}
.sub2019_cont05 .tabList li {float:left;width:50%; border:2px solid #e0e0e0; box-sizing:border-box}
.sub2019_cont05 .tabList li.on {border-color:#fc5419}
.sub2019_cont05 .tabList li:nth-child(2n+1) {border-right:none}
.sub2019_cont05 .tabList li button {color:#666; width:100%; height:42px; font-size:1.5rem}
.sub2019_cont05 .tabList li.on button {color:#fff; font-weight:bold; background-color:#fc5419}
.sub2019_cont05 .tabCont {padding:20px 0}

.sub2019_cont06 {background-color:#ddd; padding:0 13px 20px}
.sub2019_cont06 dt {text-align:center; padding:25px 0 20px}
.sub2019_cont06 dt b {text-decoration:underline; font-size:1.6rem} 
.sub2019_cont06 dd {position:relative; font-size:1.2rem; color:#000; padding-left:8px}
.sub2019_cont06 dd+dd {margin-top:5px}
.sub2019_cont06 dd:before {content:'';width:2px; height:2px; background-color:#333; position:absolute;left:0;top:6px}

