@charset "utf-8";
/* CSS Document */

body,form,div,p,h1,h2,h3,h4,h5,h6,dl,dt,dd,ul,ol,li,fieldset,input,textarea,blockquote,th,td {margin:0;padding:0;-webkit-text-size-adjust:none; font-family:'DroidSansFallback','Apple Gothic','돋움',Dotum,'굴림',Gulim,Helvetica,sans-serif;color:#252525;letter-spacing:-0.04em;}
table {border-spacing:0;border-collapse:collapse;width:100%}
table caption {font-size:0;line-height:0;width:0;height:0;visibility:hidden;text-indent:-9999px}
em,cite,address,dfn,var {font-style:normal}
dl,ul,ol{list-style:none}
img {border:0; vertical-align:top}
input, select {vertical-align:middle;-webkit-appearance:none;border-radius:0;}
a {text-decoration:none;color:#333}
html {font-size:10px}
@media all and (min-width:375px) { /* 아이폰6 */
html {font-size:11.5px}
}
/*@media all and (min-width:414px) {
html {font-size:12px}
}*/

body {width:100%;-webkit-text-size-adjust:none;text-size-adjust: none; font-size:1.4rem}
#wrap {position:relative}


/* 공통 */
.marT0 {margin-top:0 !important}
.marT5 {margin-top:5px !important}
.marT10 {margin-top:10px !important}
.marT15 {margin-top:15px !important}
.marB5 {margin-bottom:5px !important}
.marB7 {margin-bottom:7px !important}
.marB10 {margin-bottom:10px !important}
.marB15 {margin-bottom:15px !important}

.btnRed {display:block; background-color:#c83d67; border:1px solid #c83d67; border-bottom:1px solid #838487; text-align:center; font-size:1.7rem; color:#fff; padding:11px 0; border-radius:3px;font-weight:bold;}
.btnRed.marTy {margin:12px}
.btnPink {display:block; background-color:#e85581; border:1px solid #e85581;text-align:center; font-size:1.4rem; color:#fff; padding:11px 0; border-radius:3px; font-weight:bold}
.fullBtn {overflow:hidden;margin:0}
.fullBtn a {float:right;width:49%;background-color:#e85581;text-align:center;color:#fff;font-size:1.4rem;padding:10px 0; font-weight:bold; border-radius:3px; margin:0 0 0 2px}
.fullBtn a:first-child {background-color:#a6acbd; margin:0 2px 0 0; float:left}
.full_img {display:block}
.full_img img {width:100%}
.cut {overflow:hidden !important}
.cut img {margin:-10% 0 !important}
.select {width:100%;border:1px solid #ccc;background:#fff url(http://image1.hanatour.com/mobile/common/expo2016/images/bg_select_red.png) no-repeat 95% center;background-size:13px 7px;text-indent:12px;border-radius:3px;font-weight:bold;font-size:1.4rem;height:42px; box-sizing:border-box}
.c_pink {color:#db2d5e}
.c_red {color:#f3474d}
.btnGrayBox {background-color:#e9ecef;padding:12px}

/* header */
header.commonHead {position:fixed;left:0;top:0;width: 100%;z-index:200;background:#fff; overflow:hidden;}
header.commonHead h1 {position:relative;text-align:center; height:48px; border-bottom:1px solid #e0e0e0}
header.commonHead h1 a {display:inline-block;padding:8px 5px 7px;height:48px; box-sizing:border-box}
header.commonHead h1 img{height:34px}
header.commonHead h1.subMain {}
header.commonHead h1.subMain a {font-size:20px; color:#f3474d}
header.commonHead h1.subMain a span {display:inline-block; padding:5px 0 0 8px;}
header.commonHead > a {position:absolute;top:0; z-index:50}
header.commonHead .allMenu {left:0;padding:16px 12px}
header.commonHead .allMenu img {height:16px}
header.commonHead .shared {right:0;padding:14px 12px}
header.commonHead .shared img {height:20px}
header.commonHead nav.navDep {position:relative; height:42px; border-bottom:1px solid #e0e0e0}
header.commonHead nav.navDep .swiper-container {position:absolute;left:0;width:9999px;padding:0;height:42px; overflow:visible}
header.commonHead nav.navDep .swiper-wrapper {position:fixed}
header.commonHead nav.navDep .swiper-slide {float:left; width:auto}
header.commonHead nav.navDep .swiper-slide a {display:block;padding:14px 9px 12px;font-weight:bold;line-height:15px;position:relative;text-align:center;font-size:1.4rem; height:42px; box-sizing:border-box}
header.commonHead nav.navDep .swiper-slide:first-child a {padding:15px 4px 12px}
header.commonHead nav.navDep .swiper-slide.on a {color:#f3474d}
header.commonHead nav.navDep .swiper-slide.on a:after {content:'';width:100%;height:2px; position:absolute;left:0;bottom:-1px;background-color:#f3474d;z-index:99}
header.commonHead nav .btn_navAll {position:absolute;top:0;right:0;background:#fff url(http://image1.hanatour.com/mobile/common/expo2016/images/btn_head_nav.png) no-repeat center center; background-size:17px 9px; z-index:100; padding:17px 12px;height:43px; box-sizing:border-box;border-bottom:1px solid #e0e0e0; border-left:1px solid #e0e0e0;width:42px}
header.commonHead nav .btn_navAll.on { background-image:url(http://image1.hanatour.com/mobile/common/expo2016/images/btn_head_nav_on.png)}
header.commonHead nav .btn_navAll:before {content:'';width:17px; height:42px; background:url(http://image1.hanatour.com/mobile/common/expo2016/images/img_nav_gra_r.png) no-repeat 0 0; background-size: 17px 42px; position:absolute;top:0;right:100%; margin-right:1px}
header.commonHead nav.navDepFree {position:relative; height:42px; border-bottom:1px solid #e0e0e0; padding:0 12px}
header.commonHead nav.navDepFree ul {overflow:hidden}
header.commonHead nav.navDepFree ul li {float:left;width:25%}
header.commonHead nav.navDepFree ul li+li+li {width:50%}
header.commonHead nav.navDepFree ul li a {display:block;padding:15px 9px 12px;font-weight:bold;line-height:15px;position:relative;text-align:center;font-size:14px}
header.commonHead nav.navDepFree ul li.on a {color:#f3474d}
header.commonHead nav.navDepFree ul li.on a:after {content:'';width:80%;height:2px; position:absolute;left:50%;bottom:0;background-color:#f3474d;z-index:99; margin-left:-40%}

header.commonHead .allDepBox {padding:15px 12px; border-bottom:1px solid #ccc}
header.commonHead .allDepBox h2 {font-size:1.5rem; margin-bottom:4px}
header.commonHead .allDepBox .navAllDep {overflow:hidden}
header.commonHead .allDepBox .navAllDep li {float:left;width:33.3%; box-sizing:border-box}
header.commonHead .allDepBox .navAllDep li+li+li+li {margin-top:6px}
header.commonHead .allDepBox .navAllDep li:nth-child(3n+1) {padding-right:4px}
header.commonHead .allDepBox .navAllDep li:nth-child(3n+2) {width:33.4%; padding:0 2px}
header.commonHead .allDepBox .navAllDep li:nth-child(3n+3) {padding-left:4px}
header.commonHead .allDepBox .navAllDep li a {display:block; padding:12px 0; font-size:13px; border-radius:3px; text-align:center; border:1px solid #ccc; font-weight:bold; box-sizing:border-box; height:41px}
header.commonHead .allDepBox .navAllDep li a.two {padding:7px 0 8px; line-height:13px}
header.commonHead .allDepBox .navAllDep li.on a {border:1px solid #f3474d; color:#f3474d}
header.subHead {position:fixed;left:0;top:0;width:100%;background-color:#f3474d;text-align:center; padding:14px 0; z-index:100}
header.subHead h1 {color:#fff;font-size:18px;font-weight:normal}
header.subHead a.backKey {position:absolute;left:0;top:0; padding:14px 12px}
header.subHead a.backKey img {height:21px}

#container {margin-top:92px;background:#e9ecef;overflow:hidden}
#container.subHead {margin-top:49px; background-color:#e9ecef}

/* 상품 공통 */
.productList01 {}
.productList01 > li {background-color:#fff; border-bottom:1px solid #ccc; margin-bottom:7px}
.productList01 > li > a {display:block}
.productList01 li a .img {display:block;position:relative;}
/*.productList01 li a .img em {position:absolute;left:14px;top:0;width:48px;height:52px;background:url(http://image1.hanatour.com/mobile/common/expo2016/images/sub/bg_product_label01.png) no-repeat 0 0; background-size:48px 52px; text-align:center; color:#feffd6; font-size:12px; box-sizing:border-box; padding-top:4px}*/
.productList01 li a .img em {position:absolute;left:14px;top:0;width:48px;height:52px;background:url(http://image1.hanatour.com/mobile/common/expo2016/images/sub/bg_product_label01.png) no-repeat 0 0; background-size:48px 52px; text-align:center; color:#feffd6; font-size:16px; box-sizing:border-box; padding-top:13px}
.productList01 li a .img em b {display:block; color:#fff; font-size:20px}
.productList01 li a .img img {width:100%}
.productList01 li a .btmTxtCont {padding:10px 14px 8px}
.productList01 li .outBox {position:relative; padding:8px 14px;border-top:1px solid #e0e0e0}
.productList01 li .outBox > strong {font-size:1.3rem}
.productList01 li .outBox > strong span {color:#e6376c;font-size:1.3rem}
.productList01 li .outBox .percent {padding-right:80px}
.productList01 li .outBox .percent b {display:inline-block;font-size:1.2rem; font-weight:normal; width:auto; margin-right:3px; padding-right:6px; position:relative}
.productList01 li .outBox .percent b:after {content:'';position:absolute;right:0;top:50%; width:1px; height:8px;margin-top:-4px; background-color:#e0e0e0}
.productList01 li .outBox .percent b:last-child {margin-right:0;padding-right:0}
.productList01 li .outBox .percent b:last-child:after {content:none}
.productList01 li .outBox .percent b span {color:#888}
.productList01 li .outBox .btnToggle {position:absolute;right:0;top:10%;width:24px; height:24px; background:url(http://image1.hanatour.com/mobile/common/expo2016/images/sub/btn_product_txt_off.png) no-repeat center center; background-size:24px 24px; padding:14px}
.productList01 li .outBox .btnToggle.on {background-image:url(http://image1.hanatour.com/mobile/common/expo2016/images/sub/btn_product_txt_on.png)}
.productList01 li .outBox .txtTogBox {margin-top:20px; display:none}
.productList01 li .outBox .btnToggle.on+.txtTogBox {display:block}
.productList01 li .outBox .txtTogBox p {color:#888;font-size:1.2rem;margin-bottom:8px}

.productList02 {}
.productList02 > li {background-color:#fff;border:1px solid #ccc;margin-bottom:7px; text-align:left}
.productList02 > li:last-child {margin-bottom:0}
.productList02 > li > a {display:block; }
.productList02 li .img {display:block;position:relative; overflow:hidden}
.productList02 li .img .labelTag {position:absolute;left:0;top:0;}
.productList02 li .img em {width:65px;height:45px;text-align:center; color:#fff; font-size:12px; box-sizing:border-box;display:table-cell;vertical-align:middle;line-height:14px}
.productList02 li .img em+em {left:65px}
.productList02 li .img em.black {background-color:#e5376c}
.productList02 li .img em.pink {background-color:#080808}
.productList02 li .img img {width:100%;}
.btmTxtCont {padding:10px 14px 8px}
.btmTxtCont > strong {font-size:1.5rem;font-weight:normal; display:block; line-height:1.7rem}
.btmVsBox {position:relative; border-top:1px solid #e0e0e0; padding:7px 14px}
.btmVsBox .people { position:absolute;right:14px; top:50%; margin-top:-7px; font-size:13px}
.btmVsBox .people strong {color:#e6376c}

.txtBtnBox {padding:7px 14px;border-top:1px solid #e0e0e0; margin-bottom:3px}
.txtBtnBox p {color:#888;font-size:1.1rem;}
.txtBtnBox .fullBtn {margin-top:10px}

.starVs {overflow:hidden}
.starVs span {font-size:1.2rem;float:left}
.starVs span:first-child:after {content:'';display:inline-block;background:url(http://image1.hanatour.com/mobile/common/expo2016/images/sub/bg_vs_left.png) repeat-x 0 0; background-size:13px 10px; margin-left:5px}
.starVs span:last-child:before {content:'';display:inline-block;background:url(http://image1.hanatour.com/mobile/common/expo2016/images/sub/bg_vs_right.png) repeat-x 0 0; background-size:13px 10px; margin-right:5px}
.starVs span:after,.starVs span:before {height:10px}
.starVs span.num01:after,.starVs span.num01:before {width:13px}
.starVs span.num02:after,.starVs span.num02:before {width:26px}
.starVs span.num03:after,.starVs span.num03:before {width:39px}
.starVs span.num04:after,.starVs span.num04:before {width:52px}
.starVs span.num05:after,.starVs span.num05:before {width:65px}
.starVs span.num06:after,.starVs span.num06:before {width:78px}
.starVs span.num07:after,.starVs span.num07:before {width:91px}
.starVs span.num08:after,.starVs span.num08:before {width:104px}
.starVs span.num09:after,.starVs span.num09:before {width:117px}
.starVs span.num10:after,.starVs span.num10:before {width:130px}

.titProduct {font-size:1.4rem;font-weight:normal}
.stitTxt {font-size:1.2rem;color:#888;margin-top:4px}
.moneyBox {margin:12px 0 4px}
.moneyBox .sale {color:#e6376c; font-size:2.4rem}
.moneyBox .sale span {font-size:1.2rem}
.moneyBox .discount {font-size:1.7rem}
.moneyBox .discount span {font-size:1.2rem}
.moneyBox b {text-decoration:line-through;color:#888;font-size:1.1rem;font-weight:normal}
.colorTxt {}
.colorTxt em {display:inline-block; padding:2px 4px; color:#fff;font-size:1.0rem}
.colorTxt em.blue {background-color:#6288e2}
.colorTxt em.green {background-color:#3dad77}

/* footer */
footer {background-color:#171717; padding:20px 0;text-align:center}
footer address {font-size:1.1rem;color:#fff;padding:0 8px;line-height:19px;letter-spacing:-0.10em}
footer address a {text-decoration:underline;color:#fff}
footer p {color:#808080;font-size:1.1rem;padding-top:20px;line-height:17px}
footer p span {font-size:1.0rem; display:block;margin-top:20px}
footer b {font-size:0.95rem; display:block; font-weight:normal;}
footer b em { color:#fff}


/* swiper */
.swiper-slide {text-align: center;font-size: 18px;display: -webkit-box;display: -ms-flexbox;display: -webkit-flex;display: flex;-webkit-box-pack: center;-ms-flex-pack: center;-webkit-justify-content: center;justify-content: center;-webkit-box-align: center;-ms-flex-align: center;-webkit-align-items: center;align-items: center;}
.swiper-slide a {display:block; width:100%}
.swiper-slide img {width:100%}
.swiper-container {margin:0 auto;position:relative;overflow:hidden;width:100%}
.swiper-container a.big5_prev {width:23px; height:42px;background:url(http://image1.hanatour.com/mobile/common/onbak/images/btn_slider_left.png); position:absolute;left:12px;top:50%;margin-top:-21px;background-size:23px 43px; z-index:100; opacity:0.7}
.swiper-container a.big5_next {width:23px; height:42px;background:url(http://image1.hanatour.com/mobile/common/onbak/images/btn_slider_right.png); position:absolute;right:12px;top:50%;margin-top:-21px;background-size:23px 43px; z-index:100;opacity:0.7}
.mainBig5 .swiper-container a.big5_prev {width:23px; height:42px;background:url(http://image1.hanatour.com/mobile/common/onbak/images/btn_swip_gray_left.png) no-repeat center center; position:absolute;left:0;top:50%;margin-top:-41px;background-size:23px 43px; z-index:100; padding:12px}
.mainBig5 .swiper-container a.big5_next {width:23px; height:42px;background:url(http://image1.hanatour.com/mobile/common/onbak/images/btn_swip_gray_right.png) no-repeat center center; position:absolute;right:0;top:50%;margin-top:-41px;background-size:23px 43px; z-index:100;padding:12px}

.swiper-container-no-flexbox .swiper-slide{float:left}.swiper-container-vertical>.swiper-wrapper{-webkit-box-orient:vertical;-moz-box-orient:vertical;-ms-flex-direction:column;-webkit-flex-direction:column;flex-direction:column}.swiper-wrapper{position:relative;width:100%;height:;z-index:1;display:-webkit-box;display:-moz-box;display:-ms-flexbox;display:-webkit-flex;display:flex;-webkit-transition-property:-webkit-transform;-moz-transition-property:-moz-transform;-o-transition-property:-o-transform;-ms-transition-property:-ms-transform;transition-property:transform;-webkit-box-sizing:content-box;-moz-box-sizing:content-box;box-sizing:content-box}.swiper-container-android .swiper-slide,.swiper-wrapper{-webkit-transform:translate3d(0,0,0);-moz-transform:translate3d(0,0,0);-o-transform:translate(0,0);-ms-transform:translate3d(0,0,0);transform:translate3d(0,0,0)}.swiper-container-multirow>.swiper-wrapper{-webkit-box-lines:multiple;-moz-box-lines:multiple;-ms-flex-wrap:wrap;-webkit-flex-wrap:wrap;flex-wrap:wrap}.swiper-container-free-mode>.swiper-wrapper{-webkit-transition-timing-function:ease-out;-moz-transition-timing-function:ease-out;-ms-transition-timing-function:ease-out;-o-transition-timing-function:ease-out;transition-timing-function:ease-out;margin:0 auto}.swiper-slide{-webkit-flex-shrink:0;-ms-flex:0 0 auto;flex-shrink:0;width:100%;position:relative}.swiper-container .swiper-notification{position:absolute;left:0;top:0;pointer-events:none;opacity:0;z-index:-1000}.swiper-wp8-horizontal{-ms-touch-action:pan-y;touch-action:pan-y}.swiper-wp8-vertical{-ms-touch-action:pan-x;touch-action:pan-x}.swiper-button-next,.swiper-button-prev{position:absolute;top:50%;width:27px;height:44px;margin-top:-22px;z-index:10;cursor:pointer;-moz-background-size:27px 44px;-webkit-background-size:27px 44px;background-size:27px 44px;background-position:center;background-repeat:no-repeat}.swiper-button-next.swiper-button-disabled,.swiper-button-prev.swiper-button-disabled{opacity:.35;cursor:auto;pointer-events:none}.swiper-button-prev,.swiper-container-rtl .swiper-button-next{background-image:url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M0%2C22L22%2C0l2.1%2C2.1L4.2%2C22l19.9%2C19.9L22%2C44L0%2C22L0%2C22L0%2C22z'%20fill%3D'%23007aff'%2F%3E%3C%2Fsvg%3E");left:10px;right:auto}.swiper-button-prev.swiper-button-black,.swiper-container-rtl .swiper-button-next.swiper-button-black{background-image:url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M0%2C22L22%2C0l2.1%2C2.1L4.2%2C22l19.9%2C19.9L22%2C44L0%2C22L0%2C22L0%2C22z'%20fill%3D'%23000000'%2F%3E%3C%2Fsvg%3E")}.swiper-button-prev.swiper-button-white,.swiper-container-rtl .swiper-button-next.swiper-button-white{background-image:url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M0%2C22L22%2C0l2.1%2C2.1L4.2%2C22l19.9%2C19.9L22%2C44L0%2C22L0%2C22L0%2C22z'%20fill%3D'%23ffffff'%2F%3E%3C%2Fsvg%3E")}.swiper-button-next,.swiper-container-rtl .swiper-button-prev{background-image:url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M27%2C22L27%2C22L5%2C44l-2.1-2.1L22.8%2C22L2.9%2C2.1L5%2C0L27%2C22L27%2C22z'%20fill%3D'%23007aff'%2F%3E%3C%2Fsvg%3E");right:10px;left:auto}.swiper-button-next.swiper-button-black,.swiper-container-rtl .swiper-button-prev.swiper-button-black{background-image:url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M27%2C22L27%2C22L5%2C44l-2.1-2.1L22.8%2C22L2.9%2C2.1L5%2C0L27%2C22L27%2C22z'%20fill%3D'%23000000'%2F%3E%3C%2Fsvg%3E")}.swiper-button-next.swiper-button-white,.swiper-container-rtl .swiper-button-prev.swiper-button-white{background-image:url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M27%2C22L27%2C22L5%2C44l-2.1-2.1L22.8%2C22L2.9%2C2.1L5%2C0L27%2C22L27%2C22z'%20fill%3D'%23ffffff'%2F%3E%3C%2Fsvg%3E")}.swiper-pagination{position:absolute;text-align:center;-webkit-transition:.3s;-moz-transition:.3s;-o-transition:.3s;transition:.3s;-webkit-transform:translate3d(0,0,0);-ms-transform:translate3d(0,0,0);-o-transform:translate3d(0,0,0);transform:translate3d(0,0,0);z-index:10}.swiper-pagination.swiper-pagination-hidden{opacity:0}.swiper-pagination-bullet{width:8px;height:8px;display:inline-block;border-radius:100%;}button.swiper-pagination-bullet{border:none;margin:0;padding:0;box-shadow:none;-moz-appearance:none;-ms-appearance:none;-webkit-appearance:none;appearance:none}.swiper-pagination-clickable .swiper-pagination-bullet{cursor:pointer}.swiper-pagination-white .swiper-pagination-bullet{background:#fff}.swiper-pagination-bullet-active{opacity:1;background:#007aff}.swiper-pagination-white .swiper-pagination-bullet-active{background:#fff}.swiper-pagination-black .swiper-pagination-bullet-active{background:#000}.swiper-container-vertical>.swiper-pagination{right:10px;top:50%;-webkit-transform:translate3d(0,-50%,0);-moz-transform:translate3d(0,-50%,0);-o-transform:translate(0,-50%);-ms-transform:translate3d(0,-50%,0);transform:translate3d(0,-50%,0)}.swiper-container-vertical>.swiper-pagination .swiper-pagination-bullet{margin:5px 0;display:block}.swiper-container-horizontal>.swiper-pagination{bottom:10px;left:0;width:100%}.swiper-container-horizontal>.swiper-pagination .swiper-pagination-bullet{margin:0 5px}.swiper-container-3d{-webkit-perspective:1200px;-moz-perspective:1200px;-o-perspective:1200px;perspective:1200px}.swiper-container-3d .swiper-cube-shadow,.swiper-container-3d .swiper-slide,.swiper-container-3d .swiper-slide-shadow-bottom,.swiper-container-3d .swiper-slide-shadow-left,.swiper-container-3d .swiper-slide-shadow-right,.swiper-container-3d .swiper-slide-shadow-top,.swiper-container-3d .swiper-wrapper{-webkit-transform-style:preserve-3d;-moz-transform-style:preserve-3d;-ms-transform-style:preserve-3d;transform-style:preserve-3d}.swiper-container-3d .swiper-slide-shadow-bottom,.swiper-container-3d .swiper-slide-shadow-left,.swiper-container-3d .swiper-slide-shadow-right,.swiper-container-3d .swiper-slide-shadow-top{position:absolute;left:0;top:0;width:100%;height:100%;pointer-events:none;z-index:10}.swiper-container-3d .swiper-slide-shadow-left{background-image:-webkit-gradient(linear,left top,right top,from(rgba(0,0,0,.5)),to(rgba(0,0,0,0)));background-image:-webkit-linear-gradient(right,rgba(0,0,0,.5),rgba(0,0,0,0));background-image:-moz-linear-gradient(right,rgba(0,0,0,.5),rgba(0,0,0,0));background-image:-o-linear-gradient(right,rgba(0,0,0,.5),rgba(0,0,0,0));background-image:linear-gradient(to left,rgba(0,0,0,.5),rgba(0,0,0,0))}.swiper-container-3d .swiper-slide-shadow-right{background-image:-webkit-gradient(linear,right top,left top,from(rgba(0,0,0,.5)),to(rgba(0,0,0,0)));background-image:-webkit-linear-gradient(left,rgba(0,0,0,.5),rgba(0,0,0,0));background-image:-moz-linear-gradient(left,rgba(0,0,0,.5),rgba(0,0,0,0));background-image:-o-linear-gradient(left,rgba(0,0,0,.5),rgba(0,0,0,0));background-image:linear-gradient(to right,rgba(0,0,0,.5),rgba(0,0,0,0))}.swiper-container-3d .swiper-slide-shadow-top{background-image:-webkit-gradient(linear,left top,left bottom,from(rgba(0,0,0,.5)),to(rgba(0,0,0,0)));background-image:-webkit-linear-gradient(bottom,rgba(0,0,0,.5),rgba(0,0,0,0));background-image:-moz-linear-gradient(bottom,rgba(0,0,0,.5),rgba(0,0,0,0));background-image:-o-linear-gradient(bottom,rgba(0,0,0,.5),rgba(0,0,0,0));background-image:linear-gradient(to top,rgba(0,0,0,.5),rgba(0,0,0,0))}.swiper-container-3d .swiper-slide-shadow-bottom{background-image:-webkit-gradient(linear,left bottom,left top,from(rgba(0,0,0,.5)),to(rgba(0,0,0,0)));background-image:-webkit-linear-gradient(top,rgba(0,0,0,.5),rgba(0,0,0,0));background-image:-moz-linear-gradient(top,rgba(0,0,0,.5),rgba(0,0,0,0));background-image:-o-linear-gradient(top,rgba(0,0,0,.5),rgba(0,0,0,0));background-image:linear-gradient(to bottom,rgba(0,0,0,.5),rgba(0,0,0,0))}.swiper-container-coverflow .swiper-wrapper{-ms-perspective:1200px}.swiper-container-fade.swiper-container-free-mode .swiper-slide{-webkit-transition-timing-function:ease-out;-moz-transition-timing-function:ease-out;-ms-transition-timing-function:ease-out;-o-transition-timing-function:ease-out;transition-timing-function:ease-out}.swiper-container-fade .swiper-slide{pointer-events:none}.swiper-container-fade .swiper-slide .swiper-slide{pointer-events:none}.swiper-container-fade .swiper-slide-active,.swiper-container-fade .swiper-slide-active .swiper-slide-active{pointer-events:auto}.swiper-container-cube{overflow:visible}.swiper-container-cube .swiper-slide{pointer-events:none;visibility:hidden;-webkit-transform-origin:0 0;-moz-transform-origin:0 0;-ms-transform-origin:0 0;transform-origin:0 0;-webkit-backface-visibility:hidden;-moz-backface-visibility:hidden;-ms-backface-visibility:hidden;backface-visibility:hidden;width:100%;height:100%;z-index:1}.swiper-container-cube.swiper-container-rtl .swiper-slide{-webkit-transform-origin:100% 0;-moz-transform-origin:100% 0;-ms-transform-origin:100% 0;transform-origin:100% 0}.swiper-container-cube .swiper-slide-active,.swiper-container-cube .swiper-slide-next,.swiper-container-cube .swiper-slide-next+.swiper-slide,.swiper-container-cube .swiper-slide-prev{pointer-events:auto;visibility:visible}.swiper-container-cube .swiper-slide-shadow-bottom,.swiper-container-cube .swiper-slide-shadow-left,.swiper-container-cube .swiper-slide-shadow-right,.swiper-container-cube .swiper-slide-shadow-top{z-index:0;-webkit-backface-visibility:hidden;-moz-backface-visibility:hidden;-ms-backface-visibility:hidden;backface-visibility:hidden}.swiper-container-cube .swiper-cube-shadow{position:absolute;left:0;bottom:0;width:100%;height:100%;background:#000;opacity:.6;-webkit-filter:blur(50px);filter:blur(50px);z-index:0}.swiper-scrollbar{border-radius:10px;position:relative;-ms-touch-action:none;background:rgba(0,0,0,.1)}.swiper-container-horizontal>.swiper-scrollbar{position:absolute;left:1%;bottom:3px;z-index:50;height:5px;width:98%}.swiper-container-vertical>.swiper-scrollbar{position:absolute;right:3px;top:1%;z-index:50;width:5px;height:98%}.swiper-scrollbar-drag{height:100%;width:100%;position:relative;background:rgba(0,0,0,.5);border-radius:10px;left:0;top:0}.swiper-scrollbar-cursor-drag{cursor:move}.swiper-lazy-preloader{width:42px;height:42px;position:absolute;left:50%;top:50%;margin-left:-21px;margin-top:-21px;z-index:10;-webkit-transform-origin:50%;-moz-transform-origin:50%;transform-origin:50%;-webkit-animation:swiper-preloader-spin 1s steps(12,end) infinite;-moz-animation:swiper-preloader-spin 1s steps(12,end) infinite;animation:swiper-preloader-spin 1s steps(12,end) infinite}.swiper-lazy-preloader:after{display:block;content:"";width:100%;height:100%;background-image:url("data:image/svg+xml;charset=utf-8,%3Csvg%20viewBox%3D'0%200%20120%20120'%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20xmlns%3Axlink%3D'http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink'%3E%3Cdefs%3E%3Cline%20id%3D'l'%20x1%3D'60'%20x2%3D'60'%20y1%3D'7'%20y2%3D'27'%20stroke%3D'%236c6c6c'%20stroke-width%3D'11'%20stroke-linecap%3D'round'%2F%3E%3C%2Fdefs%3E%3Cg%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(30%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(60%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(90%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(120%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(150%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.37'%20transform%3D'rotate(180%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.46'%20transform%3D'rotate(210%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.56'%20transform%3D'rotate(240%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.66'%20transform%3D'rotate(270%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.75'%20transform%3D'rotate(300%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.85'%20transform%3D'rotate(330%2060%2C60)'%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E");background-position:50%;-webkit-background-size:100%;background-size:100%;background-repeat:no-repeat}.swiper-lazy-preloader-white:after{background-image:url("data:image/svg+xml;charset=utf-8,%3Csvg%20viewBox%3D'0%200%20120%20120'%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20xmlns%3Axlink%3D'http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink'%3E%3Cdefs%3E%3Cline%20id%3D'l'%20x1%3D'60'%20x2%3D'60'%20y1%3D'7'%20y2%3D'27'%20stroke%3D'%23fff'%20stroke-width%3D'11'%20stroke-linecap%3D'round'%2F%3E%3C%2Fdefs%3E%3Cg%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(30%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(60%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(90%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(120%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(150%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.37'%20transform%3D'rotate(180%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.46'%20transform%3D'rotate(210%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.56'%20transform%3D'rotate(240%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.66'%20transform%3D'rotate(270%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.75'%20transform%3D'rotate(300%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.85'%20transform%3D'rotate(330%2060%2C60)'%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E")}@-webkit-keyframes swiper-preloader-spin{100%{-webkit-transform:rotate(360deg)}}@keyframes swiper-preloader-spin{100%{transform:rotate(360deg)}}

.swiper-pagination-bullet {width:7px;height: 7px;display: inline-block; border-radius: 50%; background:none; margin:3px; border: 2px solid #fff;}
.swiper-pagination-bullet-active {background:#fff}

.swiper-pag-num {position:absolute;bottom:10px; right:10px; color:#fff; font-size:13px; background:rgba(0,0,0,0.8); padding:5px 12px; border-radius:50px;text-align:center; z-index:100; font-weight:bold}

.mainBanner .swiper-pagination {top:5px;text-align:right; padding:0 12px; box-sizing:border-box}
.mainBanner .swiper-pagination-bullet {margin:0 2px !important; background-color:#fff; opacity:0.7;width:3px; height:3px}
.mainBanner .swiper-pagination-bullet-active {opacity:1}
@media all and (min-width:375px) { /* 아이폰6 */
.mainBanner .swiper-pagination-bullet {width:4px; height:4px}
}


.swipCommBanner .swiper-container { overflow:visible}
.swipCommBanner .swiper-pagination {bottom:-18px;text-align:center; padding:0 12px; box-sizing:border-box}
.swipCommBanner .swiper-pagination-bullet {margin:0 2px !important; background-color:#afb0b1;width:7px; height:7px; border:none}
.swipCommBanner .swiper-pagination-bullet-active {background-color:#f3474d}

/* popup */
#overlayPanel {position: relative;opacity:0;width: 100%;height:100%;min-height:100%;display: none;background: #fff;overflow: visible;overflow-x: hidden;}
#overlayPanel.show {opacity: 1;}
#overlayPanel.slide {position: fixed;z-index: 3000;-webkit-animation-timing-function: ease-out;-webkit-animation-duration: 350ms;-webkit-animation-delay: 50ms;animation-delay: 50ms;animation-timing-function: ease-out;animation-duration: 350ms;-webkit-box-sizing: border-box;box-sizing: border-box;overflow: hidden;left: 0;top: 0;transform: translateY(0);opacity: 1;}
#overlayPanel.slideUp {-webkit-animation-name: slideUp;animation-name: slideUp;-webkit-transform: translateY(100%);transform: translateY(100%);}
#overlayPanel.slideDown {-webkit-animation-name: slideDown;animation-name: slideDown;-webkit-transform: translateY(0);transform: translateY(0);}
@-webkit-keyframes slideUp {
    from { -webkit-transform: translateY(100%); }
    to { -webkit-transform: translateY(0); }
}
@keyframes slideUp {
    from { transform: translateY(100%); }
    to { transform: translateY(0); }
}
@-webkit-keyframes slideDown {
    from { -webkit-transform: translateY(0)}
    to { -webkit-transform: translateY(100%)}
}
@keyframes slideDown {
    from { transform: translateY(0)}
    to { transform: translateY(100%)}
}

.popReserve01 {display:none}
#overlayPanel .popReserve01 {display: block}
.popReserve01 h3 {background-color:#747b8e; position:relative; color:#fff; height:35px; padding:15px 0 0 12px; font-size:18px}
.popReserve01 h3 a {position:absolute; right:0;top:0;background:url(http://image1.hanatour.com/mobile/common/expo2016/images/btn_pop_close.png) no-repeat center center; background-size:19px; width:19px; height:19px; padding:16px 12px}

.popContent {background-color:#e9ecef}
.popContent .popCont01 {background-color:#fff; border-bottom:1px solid #ccc; margin-bottom:7px; padding:0 12px 20px}
.popContent .popCont01+.popCont01 {border-top:1px solid #ccc}
.popContent .popProduct {background-color:#fff;border-top:1px solid #ccc;padding:10px 12px 20px}
.popContent .popProduct .proLink {display:block; padding:15px 12px; border:1px solid #ccc; margin-bottom:10px}
.popContent .popProduct .proLink > strong { font-size:1.5rem}
.popContent .txtPopCom {font-size:1.2rem;margin-bottom:10px}
.popContent .tipBox {background-color:#f7f7f7; padding:10px 12px}
.popContent .tipBox dt {font-size:1.2rem;display:inline-block; border-radius:50px;border:2px solid #e85581;color:#e85581;padding:2px 10px; font-weight:bold; margin-bottom:7px}
.popContent .tipBox dd {font-size:1.2rem;color:#666}
.peopleBox {text-align:center;padding-bottom:14px}
.peopleBox span {display:block;margin-top:-39px;position:relative;margin-bottom:14px}
.peopleBox span img {width:78px;height:78px; border-radius:50%}
.peopleBox em {font-size:1.2rem;color:#888}
.peopleBox strong {font-size:1.6rem;display:block;margin-top:10px; padding-bottom:15px; position:relative}
.peopleBox strong:after {content:'';width:26px; height:1px; background-color:#f3474d; position:absolute;left:50%; bottom:0; margin-left:-13px;}

.layerPop {position:fixed;left:0;top:0;background:rgba(0,0,0,0.7); height:100%; width:100%; z-index:999; padding-top:50vh}
.layerPop > div {margin:-120px 12px 0; background-color:#fff;border-radius:5px; position:relative; overflow:hidden}
.layerPop h3 { background-color:#f8f8f8; padding:15px 20px; font-size:17px; border-bottom:1px solid #ccc; border-radius:5px 5px 0 0}
.layerPop h3 a {background:url(http://image1.hanatour.com/mobile/common/comm/btn_pop_yellow_close.png) no-repeat center center; position:absolute;right:0;top:0; width:19px; height:19px; background-size:19px; padding:15px}
.layerPop .pop_y_cont {padding:20px}
.layerPop .snsList {overflow:hidden; margin:0 30px 20px}
.layerPop .snsList li {float:left;width:50%}
.layerPop .snsList li a {display:block; background:no-repeat center 0; background-size:52px; text-align:center; padding-top:60px}
.layerPop .snsList li a.face {background-image:url(http://image1.hanatour.com/mobile/common/comm/ico_face.png)}
.layerPop .snsList li a.kakao {background-image:url(http://image1.hanatour.com/mobile/common/comm/ico_kakao.png)}
.layerPop .url_copy {text-align:center}
.layerPop .url_copy input {display:block;background-color:#f7f7f7; padding:11px; overflow:hidden; position:relative; border:1px solid #ccc; border-radius:5px; color:#448ccb; font-size:1.2rem; box-sizing:border-box;width:100%; text-align:center}
.layerPop .url_copy a {display:block;background-color:#f7f7f7; padding:11px; overflow:hidden; position:relative; border:1px solid #ccc; border-radius:5px; color:#448ccb; font-size:1.2rem; box-sizing:border-box;width:100%; text-align:center}

.layerPop .url_copy p {color:#6666;margin-top:5px; font-size:1.3rem;}

.commonBanner02 {margin-bottom:7px; display:table;width:100%}
.commonBanner02 a {display:table-cell;width:50%}
.commonBanner02 a img {width:100%}

.swipCommBanner {padding-bottom:25px}

.sponsorship {padding:22px 0 22px; background-color:#fff; border-top:1px solid #ccc}
.sponsorship .swiper-slide {float:left;width:82px;margin-right:8px}

/* 전체메뉴 */
#expoMenuPanel {display:none;position:fixed;top:0;width:100%;height: 100%;z-index: 900;background: #e9ecef;-webkit-overflow-scrolling: touch;transition: transform .3s ease-out; -webkit-transition: -webkit-transform .3s ease-out; transform : translateX(-100%); -webkit-transform : translateX(-100%);}
#expoMenuPanel.open {display:block;-webkit-transform: translateX(0%); transform: translateX(0%);}
#expoMenuPanel h2 {position: fixed; padding:18px 12px 12px; font-size:1.7rem; background-color:#fff;width: 100%;box-sizing: border-box; left:0;top:0; z-index:10; height:51px; border-bottom:1px solid #dbdce1}
#expoMenuPanel h2 .closeSlide {position:absolute;right:0;top:0;background:url(http://image1.hanatour.com/mobile/common/expo2016/images/btn_hanamenu_close.png) no-repeat center 20px;width:51px; height:51px; background-size:18px 18px}
#expoMenuPanel .innerScroller {-webkit-overflow-scrolling: touch;width: 100%; height: 100%;overflow-y:scroll;}
#expoMenuPanel .hanaMenuList {background-color:#fff; margin-bottom:9px;margin-top:55px; border-bottom:1px solid #ccc}
#expoMenuPanel .hanaMenuList+.hanaMenuList { margin-top:0}
#expoMenuPanel .hanaMenuList .topList {overflow:hidden}
#expoMenuPanel .hanaMenuList .topList li {float:left;width:33.3%;}
#expoMenuPanel .hanaMenuList .topList.firstTy li {border-top:none}
#expoMenuPanel .hanaMenuList .topList li:nth-child(3n+2) {width:33.4%}
#expoMenuPanel .hanaMenuList .topList li:nth-child(3n+2) a {border-left:1px solid #eee;border-right:1px solid #eee;}
#expoMenuPanel .hanaMenuList h3 a {padding:16px 12px;font-size:1.5rem; display:block;color:#fefefe; background-color:#f3474d; position:relative;}
#expoMenuPanel .hanaMenuList h3 a span {position:absolute;top:50%;right:12px; border:1px solid #fff; color:#fff; border-radius:50px; opacity:0.6; padding:4px 12px; margin-top:-12px; font-size:12px; font-weight:normal}
#expoMenuPanel .hanaMenuList h4 a {position:relative;display:block; font-size:1.2rem; color:#333; padding:10px 12px; background-color:#f7f7f7; border-top:1px solid #e0e0e0; border-bottom:1px solid #aaa; letter-spacing:0}
#expoMenuPanel .hanaMenuList h4.btNone a {border-top:none}
#expoMenuPanel .hanaMenuList h4.bbNone a {border-bottom:none}
#expoMenuPanel .hanaMenuList h4.line_ccc a {border-bottom:1px solid #ccc}
#expoMenuPanel .hanaMenuList h4 a:after {content:''; position:absolute;right:12px; top:50%; margin-top:-5px;width:6px; height:10px;background:url(http://image1.hanatour.com/mobile/common/expo2016/images/bul_allmenu.png) no-repeat 0 0; background-size:6px 10px}
#expoMenuPanel .hanaMenuList .innerMenuBox {overflow:hidden;}
#expoMenuPanel .hanaMenuList .innerMenuBox li {width:33.3%; float:left}
#expoMenuPanel .hanaMenuList .innerMenuBox li:nth-child(3n+2) {width:33.4%}
#expoMenuPanel .hanaMenuList .innerMenuBox li a {display:block;font-size:1.3rem;padding:14px 4px 14px 12px; height:44px; box-sizing:border-box}
#expoMenuPanel .hanaMenuList .innerMenuBox li a.two {padding:7px 10px 7px 12px; line-height:14px}
#expoMenuPanel .hanaMenuList .innerMenuBox li+li+li+li a {border-top:1px solid #dfe2e6;}
#expoMenuPanel .hanaMenuList .innerMenuBox li:nth-child(3n+1) a {border-right:1px solid #dfe2e6;}
#expoMenuPanel .hanaMenuList .innerMenuBox li:nth-child(3n+2) a {border-right:1px solid #dfe2e6;}

#expoMenuPanel .hanaAppList {background-color:#e9ecef; padding:10px 10px 20px}
#expoMenuPanel .hanaAppList ul {overflow:hidden}
#expoMenuPanel .hanaAppList ul li {float:left;width:33.3%; margin-bottom:5px}
#expoMenuPanel .hanaAppList ul li:nth-child(3n+2) {width:33.4%;}
#expoMenuPanel .hanaAppList ul li a {display:block; padding:10px 0 10px;text-align:center;background-color:#fff;border:1px solid #ccc; margin:0 2px; border-radius:2px}
#expoMenuPanel .hanaAppList ul li a img {height:42px}
#expoMenuPanel .hanaAppList ul li a span {display:block;font-size:1.2rem; color:#333; margin-top:10px}

@media all and (min-width:375px) {	/* 375이상일 경우*/
#expoMenuPanel .hanaMenuList h3 {font-size:14px}
#expoMenuPanel h2 {font-size:19px}
#expoMenuPanel .hanaMenuList .innerMenuBox li a {font-size:14px}
#expoMenuPanel .hanaAppList strong {font-size:15px}
#expoMenuPanel .hanaAppList ul li a {font-size:14px}
}

.mainBanner {margin-bottom:7px}

/* 퀵버튼 */
.quickDimBox  {z-index:500; position:relative}
.quickDimBox .dimbtnToggle {position:fixed;right:11px;bottom:15px; width:55px; height:55px; background:url(http://image1.hanatour.com/mobile/common/comm/btn_quick_toggle_splite.png) no-repeat 0 0; background-size:825px 55px; border-radius:50%}
.quickDimBox .dimBtnQuick {display:none;position:fixed;left:0;top:0; width:100%; height:100%;z-index:40}
.quickDimBox .dimBtnQuick.on {display:block}
.quickDimBox .dimBtnQuick ul {position:fixed;text-align:right;right:0;bottom:85px;width:100%;height:50%}
.quickDimBox .dimBtnQuick ul li {position:absolute;right:12px;bottom:120px}
.quickDimBox .dimBtnQuick ul li+li {bottom:60px}
.quickDimBox .dimBtnQuick ul li+li+li {bottom:0}
.quickDimBox .dimBtnQuick ul li a {overflow-x:hidden; display:inline-block; background:no-repeat right 0; background-size:52px 52px; color:#fff; padding:18px 80px}
.quickDimBox .dimBtnQuick ul li a.icoBg01 {background-image:url(http://image1.hanatour.com/mobile/common/expo2016/images/btn_quick_ico01.png); padding:10px 80px}
.quickDimBox .dimBtnQuick ul li a.icoBg02 {background-image:url(http://image1.hanatour.com/mobile/common/expo2016/images/btn_quick_ico02.png)}
.quickDimBox .dimBtnQuick ul li a.icoBg03 {background-image:url(http://image1.hanatour.com/mobile/common/expo2016/images/btn_quick_ico03.png)}
.quickDimBox .txt {position:relative;right:-15px;font-weight:bold; text-align:right}
.quickDimBox .txt em {color:#e45b85; display:block}

.dim {position:fixed;width:100%;height:100%;background:#000;opacity:0.7;z-index:400;left:0;top:0; z-index:300}
.mask {position: fixed;top: 0;bottom: 0;left: 0;right: 0;background: #000;opacity: 0.7;z-index: 300;-webkit-transition-property: -webkit-transform opacity;-webkit-transition-timing-function: ease-out;-webkit-transition-duration: 200ms;transition-property: transform opacity;transition-timing-function: ease-out;transition-duration: 200ms;-webkit-touch-callout: none;-webkit-text-size-adjust: none;text-size-adjust: none;/*-webkit-animation: maskOpacity 300ms 1 ease;animation: maskOpacity 300ms 1 ease;*/}

/* 에러 */
.errorCont {padding:42px 12px; background-color:#fff; margin-top:-43px}
.errorCont p {text-align:center; color:#888; font-size:1.4rem; padding-top:180px;background:url(http://image1.hanatour.com/mobile/common/expo2016/images/bg_error.png) no-repeat center 0; background-size:160px 154px; margin-bottom:20px}
.errorCont p strong {display:block; font-size:2.3rem; color:#000; font-weight:normal; margin-bottom:17px}
.errorCont a {width:200px; margin:0 auto}

/* 팝업약관 */
.termsTxtList {background-color:#f7f7f7;padding:10px 15px; margin:-10px}
.termsTxtList > strong {color:#c83d67; display:block; margin-bottom:5px}
.termsTxtList > p {font-size:13px; margin-bottom:4px}
.termsTxtList ul li {font-size:12px; color:#666; margin-bottom:5px}
.termsTxtList ul li:last-child {margin-bottom:0}

/* 20161122 추가 */
header.commonHead.inBanner {top:70px}
header.commonHead.inBanner+#container {margin-top:162px}
.topFixedBanner {position:fixed;top:0;left:0;width:100%; z-index:200}
.topFixedBanner .imgBanner {background-color:#f34a99; display:block; text-align:center}
.topFixedBanner .imgBanner img {height:70px}
.topFixedBanner .closeBtn {position:absolute;right:0;top:0; padding:10px 12px}
.topFixedBanner .closeBtn img {height:16px;}

/* finish 20161124 */
.commonHead.finish h1 {text-align:left; padding-left:12px}
.commonHead.finish .appMain {right:0; padding:18px 12px 14px}
.commonHead.finish .appMain img {height:12px}

.finishCont {}
.finishCont .fnTop {background:url(http://image1.hanatour.com/mobile/common/expo2016/images/finish/bg_fntop.jpg) no-repeat 0 0; background-size:100% 100%}
.finishCont .fnTop h2 {text-align:center; padding-top:40px}
.finishCont .fnTop h2 img { height:299px}
.finishCont .fnTxt01 {background-color:#ef4230; text-align:center; padding:20px 25px; border-bottom:1px solid #a33f34; margin-bottom:7px}
.finishCont .fnTxt01 strong {font-size:1.5rem; color:#fff}
.finishCont .fnTxt01 p {color:#ffcbc6; font-size:1.2rem; margin-top:15px}
.finishCont .fnBanner {background:url(http://image1.hanatour.com/mobile/common/expo2016/images/finish/bg_fnbanner_left.png) no-repeat left bottom,url(http://image1.hanatour.com/mobile/common/expo2016/images/finish/bg_fnbanner_right.png) no-repeat right top; background-size:86px 236px,60px 215px;background-color:#2da185; text-align:center; border-top:1px solid #187f5f; padding:30px 0 35px; position:relative}
.finishCont .fnBanner:after {content:'';width:106px; height:107px; position:absolute;right:0;bottom:-24px;background:url(http://image1.hanatour.com/mobile/common/expo2016/images/finish/bg_fnbanner_gift.png) no-repeat left bottom; background-size:106px 107px}
.finishCont .fnBanner strong {}
.finishCont .fnBanner strong img { height:86px}
.finishCont .fnBanner p {font-size:1.1rem; color:#fff; margin:24px 0}
.finishCont .fnBanner a { font-size:1.6rem; color:#2da185; display:inline-block; background-color:#fff; border-radius:5px; padding:12px 28px; font-weight:bold}

.finishCont .mainBanner.finish {background-color:#fff;padding:25px 12px 0; border-bottom:1px solid #ccc; border-top:1px solid #ccc}
.finishCont .mainBanner.finish .mbTitle {position:relative;margin-bottom:15px}
.finishCont .mainBanner.finish .mbTitle strong {font-size:1.7rem}
.finishCont .mainBanner.finish .mbTitle p {color:#888;font-size:1.2rem}
.finishCont .mainBanner.finish .mbTitle a {color:#888;font-size:1.2rem;position:absolute;right:0;bottom:0;btn_mbtitle_ico;background:url(http://image1.hanatour.com/mobile/common/expo2016/images/finish/btn_mbtitle_ico.png) no-repeat right center; background-size:5px 8px; padding-right:8px}
.finishCont .mainBanner.finish .swiper-container {padding-bottom:42px}

.finishCont .mainBanner.finish .swiper-slide a {display:block; padding:52px 0; text-align:center; background-size:100% 100%; background-repeat:no-repeat; background-position:0 0;}
.finishCont .mainBanner.finish .swiper-slide a.bgFn_img01 {background-image:url(http://image1.hanatour.com/mobile/common/expo2016/images/finish/bg_fn_img01.jpg)}
.finishCont .mainBanner.finish .swiper-slide a.bgFn_img02 {background-image:url(http://image1.hanatour.com/mobile/common/expo2016/images/finish/bg_fn_img02.jpg)}
.finishCont .mainBanner.finish .swiper-slide a.bgFn_img03 {background-image:url(http://image1.hanatour.com/mobile/common/expo2016/images/finish/bg_fn_img03.jpg)}
.finishCont .mainBanner.finish .swiper-slide a.bgFn_img04 {background-image:url(http://image1.hanatour.com/mobile/common/expo2016/images/finish/bg_fn_img04.jpg)}
.finishCont .mainBanner.finish .swiper-slide a.bgFn_img05 {background-image:url(http://image1.hanatour.com/mobile/common/expo2016/images/finish/bg_fn_img05.jpg)}
.finishCont .mainBanner.finish .swiper-slide a.bgFn_img06 {background-image:url(http://image1.hanatour.com/mobile/common/expo2016/images/finish/bg_fn_img06.jpg)}
.finishCont .mainBanner.finish .swiper-slide a.bgFn_img07 {background-image:url(http://image1.hanatour.com/mobile/common/expo2016/images/finish/bg_fn_img07.jpg)}
.finishCont .mainBanner.finish .swiper-slide a.bgFn_img08 {background-image:url(http://image1.hanatour.com/mobile/common/expo2016/images/finish/bg_fn_img08.jpg)}
.finishCont .mainBanner.finish .swiper-slide a.bgFn_img09 {background-image:url(http://image1.hanatour.com/mobile/common/expo2016/images/finish/bg_fn_img09.jpg)}
.finishCont .mainBanner.finish .swiper-slide a.bgFn_img10 {background-image:url(http://image1.hanatour.com/mobile/common/expo2016/images/finish/bg_fn_img10.jpg)}
.finishCont .mainBanner.finish .swiper-slide a.bgFn_img11 {background-image:url(http://image1.hanatour.com/mobile/common/expo2016/images/finish/bg_fn_img11.jpg)}
.finishCont .mainBanner.finish .swiper-slide a.bgFn_img12 {background-image:url(http://image1.hanatour.com/mobile/common/expo2016/images/finish/bg_fn_img12.jpg)}
.finishCont .mainBanner.finish .swiper-slide a.bgFn_img13 {background-image:url(http://image1.hanatour.com/mobile/common/expo2016/images/finish/bg_fn_img13.jpg)}
.finishCont .mainBanner.finish .swiper-slide a.bgFn_img14 {background-image:url(http://image1.hanatour.com/mobile/common/expo2016/images/finish/bg_fn_img14.jpg)}
.finishCont .mainBanner.finish .swiper-slide a.bgFn_img15 {background-image:url(http://image1.hanatour.com/mobile/common/expo2016/images/finish/bg_fn_img15.jpg)}
.finishCont .mainBanner.finish .swiper-slide a.bgFn_img16 {background-image:url(http://image1.hanatour.com/mobile/common/expo2016/images/finish/bg_fn_img16.jpg)}

.finishCont .mainBanner.finish .swiper-slide a em {color:#fff; font-size:1.2rem;padding:4px 12px; border-radius:50px; background-color:rgba(0,0,0,0.4); border:1px solid #ccc; font-weight:bold}
.finishCont .mainBanner.finish .swiper-slide a strong {font-size:2.0rem;color:#fff; display:block; margin-top:10px}

.finishCont .mainBanner.finish .swiper-pagination {top:inherit;bottom:15px;text-align:center; padding:0 12px; box-sizing:border-box}
.finishCont .mainBanner.finish .swiper-pagination-bullet {margin:0 !important; background-color:#e0e0e0; opacity:1;width:7px; height:7px}
.finishCont .mainBanner.finish .swiper-pagination-bullet-active {opacity:1; background-color:#f3474d}

.finishCont .greenTit {display:block; text-align:center; font-size:1.7rem; margin-bottom:15px}
.finishCont .greenTit span {display:block;font-size:1.4rem; margin-bottom:4px}
.finishCont .greenTit em {color:#1a9b7c}

.finishCont .fnFree {background:url(http://image1.hanatour.com/mobile/common/expo2016/images/finish/bg_fnfree_left.png) no-repeat left top,url(http://image1.hanatour.com/mobile/common/expo2016/images/finish/bg_fnfree_right.png) no-repeat right top;background-size:55px 305px,32px 115px; border-top:1px solid #ccc;padding:25px 12px; background-color:#fff}
.finishCont .fnFree ul li+li {margin-top:5px}
.finishCont .fnFree ul li a {display:block;background-size:100% 100%;background-repeat:no-repeat;background-position:0 0;padding:25px 20px;position:relative}
.finishCont .fnFree ul li a:after {content:'';width:10px;height:18px;position:absolute;right:15px;top:50%;margin-top:-9px;background:url(http://image1.hanatour.com/mobile/common/expo2016/images/finish/ico_fnfree_rarr.png) no-repeat 0 0;background-size:10px 18px}
.finishCont .fnFree ul li a.bgFn_img01 {background-image:url(http://image1.hanatour.com/mobile/common/expo2016/images/finish/bg_fnfree01.jpg)}
.finishCont .fnFree ul li a.bgFn_img02 {background-image:url(http://image1.hanatour.com/mobile/common/expo2016/images/finish/bg_fnfree02.jpg)}
.finishCont .fnFree ul li a.bgFn_img03 {background-image:url(http://image1.hanatour.com/mobile/common/expo2016/images/finish/bg_fnfree03.jpg)}
.finishCont .fnFree ul li a.bgFn_img04 {background-image:url(http://image1.hanatour.com/mobile/common/expo2016/images/finish/bg_fnfree04.jpg)}
.finishCont .fnFree ul li a.bgFn_img05 {background-image:url(http://image1.hanatour.com/mobile/common/expo2016/images/finish/bg_fnfree05.jpg)}
.finishCont .fnFree ul li a.bgFn_img06 {background-image:url(http://image1.hanatour.com/mobile/common/expo2016/images/finish/bg_fnfree06.jpg)}
.finishCont .fnFree ul li a.bgFn_img07 {background-image:url(http://image1.hanatour.com/mobile/common/expo2016/images/finish/bg_fnfree07.jpg)}
.finishCont .fnFree ul li a.bgFn_img08 {background-image:url(http://image1.hanatour.com/mobile/common/expo2016/images/finish/bg_fnfree08.jpg)}
.finishCont .fnFree ul li a.bgFn_img09 {background-image:url(http://image1.hanatour.com/mobile/common/expo2016/images/finish/bg_fnfree09.jpg)}
.finishCont .fnFree ul li a span {color:#fff; font-size:1.2rem; opacity:0.5;}
.finishCont .fnFree ul li a strong {color:#fff; font-size:1.6rem; display:block;margin-top:2px}

.finishCont .fnPack {background-color:#fff; padding:25px 10px 30px; margin-top:-7px}
.finishCont .fnPack ul { overflow:hidden}
.finishCont .fnPack ul li { float:left;width:50%; padding:0 2px; box-sizing:border-box}
.finishCont .fnPack ul li+li+li {margin-top:4px}
.finishCont .fnPack ul li a {display:block; text-align:center;background-size:100% 100%;background-repeat:no-repeat;background-position:0 0; padding:29px 0 27px;}
.finishCont .fnPack ul li a.bgFn_img01 {background-image:url(http://image1.hanatour.com/mobile/common/expo2016/images/finish/bg_fnpack01.jpg)}
.finishCont .fnPack ul li a.bgFn_img02 {background-image:url(http://image1.hanatour.com/mobile/common/expo2016/images/finish/bg_fnpack02.jpg)}
.finishCont .fnPack ul li a.bgFn_img03 {background-image:url(http://image1.hanatour.com/mobile/common/expo2016/images/finish/bg_fnpack03.jpg)}
.finishCont .fnPack ul li a.bgFn_img04 {background-image:url(http://image1.hanatour.com/mobile/common/expo2016/images/finish/bg_fnpack04.jpg)}
.finishCont .fnPack ul li a span {color:#fff; font-size:1.1rem;padding:4px 12px; border-radius:50px; background-color:rgba(0,0,0,0.4); border:1px solid #9198a6}
.finishCont .fnPack ul li a strong {font-size:1.4rem;color:#fff; display:block; margin-top:10px}
.layerPop.finish {padding-top:54px; position:absolute; background:none;}
.layerPop.finish > div{border-radius:0; margin-top:0;margin-bottom:20px}
.layerPop.finish h3 {position:fixed; top:0; left:0;width:100%; box-sizing:border-box; height:54px; padding:0 12px; background:none; border-bottom:none}
.layerPop.finish h3 span {display:block;text-align:center; background-color:#fff; font-size:1.7rem;height:54px; padding-top:16px;box-sizing:border-box}
.layerPop.finish h3 a {background-image:url(http://image1.hanatour.com/mobile/common/expo2016/images/btn_hanamenu_close.png); right:12px}
.layerPop.finish .popFnCont ul li { border-bottom:1px solid #fff}
.layerPop.finish .popFnCont ul li a {display:block; padding:52px 0; text-align:center; background-size:100% 100%; background-repeat:no-repeat; background-position:0 0;}
.layerPop.finish .popFnCont ul li a.bgFn_img01 {background-image:url(http://image1.hanatour.com/mobile/common/expo2016/images/finish/bg_fn_img01.jpg)}
.layerPop.finish .popFnCont ul li a.bgFn_img02 {background-image:url(http://image1.hanatour.com/mobile/common/expo2016/images/finish/bg_fn_img02.jpg)}
.layerPop.finish .popFnCont ul li a.bgFn_img03 {background-image:url(http://image1.hanatour.com/mobile/common/expo2016/images/finish/bg_fn_img03.jpg)}
.layerPop.finish .popFnCont ul li a.bgFn_img04 {background-image:url(http://image1.hanatour.com/mobile/common/expo2016/images/finish/bg_fn_img04.jpg)}
.layerPop.finish .popFnCont ul li a.bgFn_img05 {background-image:url(http://image1.hanatour.com/mobile/common/expo2016/images/finish/bg_fn_img05.jpg)}
.layerPop.finish .popFnCont ul li a.bgFn_img06 {background-image:url(http://image1.hanatour.com/mobile/common/expo2016/images/finish/bg_fn_img06.jpg)}
.layerPop.finish .popFnCont ul li a.bgFn_img07 {background-image:url(http://image1.hanatour.com/mobile/common/expo2016/images/finish/bg_fn_img07.jpg)}
.layerPop.finish .popFnCont ul li a.bgFn_img08 {background-image:url(http://image1.hanatour.com/mobile/common/expo2016/images/finish/bg_fn_img08.jpg)}
.layerPop.finish .popFnCont ul li a.bgFn_img09 {background-image:url(http://image1.hanatour.com/mobile/common/expo2016/images/finish/bg_fn_img09.jpg)}
.layerPop.finish .popFnCont ul li a.bgFn_img10 {background-image:url(http://image1.hanatour.com/mobile/common/expo2016/images/finish/bg_fn_img10.jpg)}
.layerPop.finish .popFnCont ul li a.bgFn_img11 {background-image:url(http://image1.hanatour.com/mobile/common/expo2016/images/finish/bg_fn_img11.jpg)}
.layerPop.finish .popFnCont ul li a.bgFn_img12 {background-image:url(http://image1.hanatour.com/mobile/common/expo2016/images/finish/bg_fn_img12.jpg)}
.layerPop.finish .popFnCont ul li a.bgFn_img13 {background-image:url(http://image1.hanatour.com/mobile/common/expo2016/images/finish/bg_fn_img13.jpg)}
.layerPop.finish .popFnCont ul li a.bgFn_img14 {background-image:url(http://image1.hanatour.com/mobile/common/expo2016/images/finish/bg_fn_img14.jpg)}
.layerPop.finish .popFnCont ul li a.bgFn_img15 {background-image:url(http://image1.hanatour.com/mobile/common/expo2016/images/finish/bg_fn_img15.jpg)}
.layerPop.finish .popFnCont ul li a.bgFn_img16 {background-image:url(http://image1.hanatour.com/mobile/common/expo2016/images/finish/bg_fn_img16.jpg)}
.layerPop.finish .popFnCont ul li a em {color:#fff; font-size:1.2rem;padding:4px 12px; border-radius:50px; background-color:rgba(0,0,0,0.4); border:1px solid #ccc; font-weight:bold}
.layerPop.finish .popFnCont ul li a strong {font-size:2.0rem;color:#fff; display:block; margin-top:10px}